<% content_for :primary_navigation do %>
  <%= render partial: "shared/navigation/all_projects_primary_navigation" %>
<% end %>

<table class="govuk-table" name="projects_table" aria-label="Conversions by month exports">
  <thead class="govuk-table__head">
  <tr class="govuk-table__row">
    <th class="govuk-table__header" scope="col"><%= t("project.table.headers.date") %></th>
    <th class="govuk-table__header" scope="col"><%= t("project.table.headers.number_of_conversions") %></th>
    <th class="govuk-table__header" scope="col"><%= t("project.table.headers.export") %></th>
  </tr>
  </thead>
  <tbody class="govuk-table__body">
  <% @data.each do |item| %>
    <tr class="govuk-table__row">
      <td class="govuk-table__header govuk-table__cell"><%= item[:month].to_fs(:govuk_month) %></td>
      <td class="govuk-table__cell"><%= t("project.table.body.conversion_project_count_html", count: item[:count], date: item[:month].to_fs(:govuk_month)) %></td>
      <td class="govuk-table__cell">
        <%= link_to(t("project.table.body.export_link"),
              show_all_export_by_month_conversions_projects_path(item[:month].month, item[:month].year),
              title: t("project.table.body.export_link_title_conversions_html", date: item[:month].to_fs(:govuk_month))) %>
      </td>
    </tr>
  <% end %>
  </tbody>
</table>
