<% content_for :primary_navigation do %>
  <%= render partial: "shared/navigation/all_projects_primary_navigation" %>
<% end %>

<% content_for :page_title do %>
  <%= page_title(t("export.education_and_skills_funding_agency.show.title", date: @month.to_fs(:govuk_month))) %>
<% end %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <%= govuk_back_link(href: all_export_education_and_skills_funding_agency_conversions_projects_path) %>
    <h1 class="govuk-heading-xl"><%= t("export.education_and_skills_funding_agency.show.title", date: @month.to_fs(:govuk_month)) %></h1>
    <div class="govuk-body">
      <%= t("export.education_and_skills_funding_agency.show.body_html") %>
    </div>
    <div class="govuk-form-group">
      <%= govuk_button_link_to t("export.education_and_skills_funding_agency.show.button"), "/projects/all/export/esfa/conversions/#{@month.month}/#{@month.year}/csv" %>
    </div>
  </div>
</div>
