<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <%= form_for @supplemental_funding_agreement, url: project_conversion_voluntary_task_list_supplemental_funding_agreement_path(@project), method: :put do |form| %>
      <%= form.govuk_error_summary %>

      <%= form.govuk_check_boxes_fieldset :stage, multiple: false, legend: nil do %>
        <%= form.govuk_check_box :received, 1, 0, multiple: false, link_errors: true %>
        <%= form.govuk_check_box :cleared, 1, 0, multiple: false %>
        <%= form.govuk_check_box :signed_by_school, 1, 0, multiple: false %>
        <%= form.govuk_check_box :saved_in_school_sharepoint, 1, 0, multiple: false %>
        <%= form.govuk_check_box :sent_to_team_leader, 1, 0, multiple: false %>
        <%= form.govuk_check_box :document_signed, 1, 0, multiple: false %>
      <% end %>

      <%= form.govuk_submit %>
    <% end %>
  </div>
</div>
