<% content_for :primary_navigation do %>
  <%= render partial: "shared/navigation/all_projects_primary_navigation" %>
<% end %>

<% content_for :page_title do %>
  <%= page_title("Statistics") %>
<% end %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <h1 class="govuk-heading-xl">Statistics</h1>
  </div>
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-one-quarter">
    <nav>
      <h2 class="govuk-heading-m"><%= t("project_information.show.side_navigation.title") %></h2>
      <ul class="list-style-none govuk-!-padding-0">
        <%= render partial: "shared/side_navigation_item", locals: {name: "Overview of all projects", path: "#projectOverview"} %>
        <%= render partial: "shared/side_navigation_item", locals: {name: "Projects with Regional casework services", path: "#projectsRCS"} %>
        <%= render partial: "shared/side_navigation_item", locals: {name: "Projects not with Regional casework services", path: "#projectsNotRCS"} %>
        <%= render partial: "shared/side_navigation_item", locals: {name: "Conversion projects per region", path: "#conversionProjectsPerRegion"} %>
        <%= render partial: "shared/side_navigation_item", locals: {name: "Transfer projects per region", path: "#transferProjectsPerRegion"} %>
        <%= render partial: "shared/side_navigation_item", locals: {name: "6 month view of all project openers", path: "#sixMonthView"} %>
        <%= render partial: "shared/side_navigation_item", locals: {name: "New projects this month", path: "#newProjects"} %>
        <%= render partial: "shared/side_navigation_item", locals: {name: "Users per team", path: "#usersPerTeam"} %>
      </ul>
    </nav>

  </div>

  <div class="govuk-grid-column-three-quarters">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-three-quarters">
        <h2 class="govuk-heading-l" id="projectOverview">Overview of all projects</h2>
        <table class="govuk-table" name="statistics_table" aria-label="Project statistics">
          <thead class="govuk-table__head">
          <tr class="govuk-table__row">
            <th class="govuk-table__header" scope="col">Detail</th>
            <th class="govuk-table__header govuk-table__header--numeric" scope="col">Conversions</th>
            <th class="govuk-table__header govuk-table__header--numeric" scope="col">Transfers</th>
          </tr>
          </thead>
          <tbody class="govuk-table__body">
          <tr class="govuk-table__row" id="in_progress">
            <th scope="row" class="govuk-table__cell">In progress projects</th>
            <td class="govuk-table__cell govuk-table__cell--numeric"><%= @project_statistics.total_number_of_in_progress_conversion_projects %></td>
            <td class="govuk-table__cell govuk-table__cell--numeric"><%= @project_statistics.total_number_of_in_progress_transfer_projects %></td>
          </tr>
          <tr class="govuk-table__row" id="completed">
            <th scope="row" class="govuk-table__cell">Completed projects</th>
            <td class="govuk-table__cell govuk-table__cell--numeric"><%= @project_statistics.total_number_of_completed_conversion_projects %></td>
            <td class="govuk-table__cell govuk-table__cell--numeric"><%= @project_statistics.total_number_of_completed_transfer_projects %></td>
          </tr>
          <tr class="govuk-table__row" id="unassigned">
            <th scope="row" class="govuk-table__cell">Unassigned projects</th>
            <td class="govuk-table__cell govuk-table__cell--numeric"><%= @project_statistics.total_number_of_unassigned_conversion_projects %></td>
            <td class="govuk-table__cell govuk-table__cell--numeric"><%= @project_statistics.total_number_of_unassigned_transfer_projects %></td>
          </tr>
          <tr class="govuk-table__row" id="dao_revoked">
            <th scope="row" class="govuk-table__cell">DAO revoked projects</th>
            <td class="govuk-table__cell govuk-table__cell--numeric"><%= @project_statistics.total_number_of_dao_revoked_conversion_projects %></td>
            <td class="govuk-table__cell govuk-table__cell--numeric">NA</td>
          </tr>
          <tr class="govuk-table__row" id="all_projects">
            <th scope="row" class="govuk-table__cell">All projects</th>
            <td class="govuk-table__cell govuk-table__cell--numeric"><%= @project_statistics.total_number_of_conversion_projects %></td>
            <td class="govuk-table__cell govuk-table__cell--numeric"><%= @project_statistics.total_number_of_transfer_projects %></td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-three-quarters">
        <h2 class="govuk-heading-l" id="projectsRCS">Projects with Regional casework services</h2>
        <table class="govuk-table" name="regional_casework_services_statistics_table" aria-label="Regional casework services statistics">
          <thead class="govuk-table__head">
          <tr class="govuk-table__row">
            <th class="govuk-table__header" scope="col">Detail</th>
            <th class="govuk-table__header govuk-table__header--numeric" scope="col">Conversions</th>
            <th class="govuk-table__header govuk-table__header--numeric" scope="col">Transfers</th>
          </tr>
          </thead>
          <tbody class="govuk-table__body" id="conversion_projects">
          <tr class="govuk-table__row" id="in_progress">
            <th scope="row" class="govuk-table__cell">In progress projects</th>
            <td class="govuk-table__cell govuk-table__cell--numeric"><%= @project_statistics.in_progress_conversion_projects_with_regional_casework_services %></td>
            <td class="govuk-table__cell govuk-table__cell--numeric"><%= @project_statistics.in_progress_transfer_projects_with_regional_casework_services %></td>
          </tr>
          <tr class="govuk-table__row" id="completed">
            <th scope="row" class="govuk-table__cell">Completed projects</th>
            <td class="govuk-table__cell govuk-table__cell--numeric"><%= @project_statistics.completed_conversion_projects_with_regional_casework_services %></td>
            <td class="govuk-table__cell govuk-table__cell--numeric"><%= @project_statistics.completed_transfer_projects_with_regional_casework_services %></td>
          </tr>
          <tr class="govuk-table__row" id="unassigned">
            <th scope="row" class="govuk-table__cell">Unassigned projects</th>
            <td class="govuk-table__cell govuk-table__cell--numeric"><%= @project_statistics.unassigned_conversion_projects_with_regional_casework_services %></td>
            <td class="govuk-table__cell govuk-table__cell--numeric"><%= @project_statistics.unassigned_transfer_projects_with_regional_casework_services %></td>
          </tr>
          <tr class="govuk-table__row" id="all_projects">
            <th scope="row" class="govuk-table__cell">All projects with Regional casework services</th>
            <td class="govuk-table__cell govuk-table__cell--numeric"><%= @project_statistics.total_conversion_projects_with_regional_casework_services %></td>
            <td class="govuk-table__cell govuk-table__cell--numeric"><%= @project_statistics.total_transfer_projects_with_regional_casework_services %></td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-three-quarters">
        <h2 class="govuk-heading-l" id="projectsNotRCS">Projects not with Regional casework services</h2>
        <table class="govuk-table" name="not_with_regional_casework_services_statistics_table" aria-label="Not with Regional casework services statistics">
          <thead class="govuk-table__head">
          <tr class="govuk-table__row">
            <th class="govuk-table__header" scope="col">Detail</th>
            <th class="govuk-table__header govuk-table__header--numeric" scope="col">Conversions</th>
            <th class="govuk-table__header govuk-table__header--numeric" scope="col">Transfers</th>
          </tr>
          </thead>
          <tr class="govuk-table__row" id="in_progress">
            <th scope="row" class="govuk-table__cell">In progress projects</th>
            <td class="govuk-table__cell govuk-table__cell--numeric"><%= @project_statistics.in_progress_conversion_projects_not_with_regional_casework_services %></td>
            <td class="govuk-table__cell govuk-table__cell--numeric"><%= @project_statistics.in_progress_transfer_projects_not_with_regional_casework_services %></td>
          </tr>
          <tr class="govuk-table__row" id="completed">
            <th scope="row" class="govuk-table__cell">Completed projects</th>
            <td class="govuk-table__cell govuk-table__cell--numeric"><%= @project_statistics.completed_conversion_projects_not_with_regional_casework_services %></td>
            <td class="govuk-table__cell govuk-table__cell--numeric"><%= @project_statistics.completed_transfer_projects_not_with_regional_casework_services %></td>
          </tr>
          <tr class="govuk-table__row" id="unassigned">
            <th scope="row" class="govuk-table__cell">Unassigned projects</th>
            <td class="govuk-table__cell govuk-table__cell--numeric"><%= @project_statistics.unassigned_conversion_projects_not_with_regional_casework_services %></td>
            <td class="govuk-table__cell govuk-table__cell--numeric"><%= @project_statistics.unassigned_transfer_projects_not_with_regional_casework_services %></td>
          </tr>
          <tr class="govuk-table__row" id="all_projects">
            <th scope="row" class="govuk-table__cell">All projects not with Regional casework services</th>
            <td class="govuk-table__cell govuk-table__cell--numeric"><%= @project_statistics.total_conversion_projects_not_with_regional_casework_services %></td>
            <td class="govuk-table__cell govuk-table__cell--numeric"><%= @project_statistics.total_transfer_projects_not_with_regional_casework_services %></td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-full">
        <h2 class="govuk-heading-l" id="conversionProjectsPerRegion">Conversion projects per region</h2>
        <table class="govuk-table" name="not_with_regional_casework_services_statistics_table" aria-label="Conversion projects per region statistics">
          <thead class="govuk-table__head">
          <tr class="govuk-table__row">
            <th class="govuk-table__header" scope="col">Region</th>
            <th class="govuk-table__header govuk-table__header--numeric" scope="col">In-progress projects</th>
            <th class="govuk-table__header govuk-table__header--numeric" scope="col">Completed projects</th>
            <th class="govuk-table__header govuk-table__header--numeric" scope="col">Unassigned projects</th>
            <th class="govuk-table__header govuk-table__header--numeric" scope="col">All projects</th>
          </tr>
          </thead>
          <tbody class="govuk-table__body">
          <% Project.regions.keys.each do |region| %>
            <% statistics = @project_statistics.conversion_project_statistics_for_region(region) %>
            <tr class="govuk-table__row" id="<%= region.dasherize %>">
              <th scope="row" class="govuk-table__cell"><%= t("project.region.#{region}") %></th>
              <td class="govuk-table__cell govuk-table__cell--numeric"><%= statistics.in_progress %></td>
              <td class="govuk-table__cell govuk-table__cell--numeric"><%= statistics.completed %></td>
              <td class="govuk-table__cell govuk-table__cell--numeric"><%= statistics.unassigned %></td>
              <td class="govuk-table__cell govuk-table__cell--numeric"><%= statistics.total %></td>
            </tr>
          <% end %>
          </tbody>
        </table>
      </div>
    </div>

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-full">
        <h2 class="govuk-heading-l" id="transferProjectsPerRegion">Transfer projects per region</h2>
        <table class="govuk-table" name="not_with_regional_casework_services_statistics_table" aria-label="Transfer projects per region statistics">
          <thead class="govuk-table__head">
          <tr class="govuk-table__row">
            <th class="govuk-table__header" scope="col">Region</th>
            <th class="govuk-table__header govuk-table__header--numeric" scope="col">In-progress projects</th>
            <th class="govuk-table__header govuk-table__header--numeric" scope="col">Completed projects</th>
            <th class="govuk-table__header govuk-table__header--numeric" scope="col">Unassigned projects</th>
            <th class="govuk-table__header govuk-table__header--numeric" scope="col">All projects</th>
          </tr>
          </thead>
          <tbody class="govuk-table__body">
          <% Project.regions.keys.each do |region| %>
            <% statistics = @project_statistics.transfer_project_statistics_for_region(region) %>
            <tr class="govuk-table__row" id="<%= region.dasherize %>">
              <th scope="row" class="govuk-table__cell"><%= t("project.region.#{region}") %></th>
              <td class="govuk-table__cell govuk-table__cell--numeric"><%= statistics.in_progress %></td>
              <td class="govuk-table__cell govuk-table__cell--numeric"><%= statistics.completed %></td>
              <td class="govuk-table__cell govuk-table__cell--numeric"><%= statistics.unassigned %></td>
              <td class="govuk-table__cell govuk-table__cell--numeric"><%= statistics.total %></td>
            </tr>
          <% end %>
          </tbody>
        </table>
      </div>
    </div>

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-three-quarters">
        <h2 class="govuk-heading-l" id="sixMonthView">6 month view of all project openers</h2>
        <table class="govuk-table" name="statistics_table" aria-label="Project statistics">
          <thead class="govuk-table__head">
          <tr class="govuk-table__row">
            <th class="govuk-table__header" scope="col">Project opener date</th>
            <th class="govuk-table__header govuk-table__header--numeric" scope="col">Conversions</th>
            <th class="govuk-table__header govuk-table__header--numeric" scope="col">Transfers</th>
          </tr>
          </thead>
          <tbody class="govuk-table__body">
          <% @project_statistics.opener_date_and_project_total.each do |key, value| %>
            <tr class="govuk-table__row">
              <th scope="row" class="govuk-table__cell"><%= Date.strptime(key, "%m/%Y").to_formatted_s(:govuk_month) %></th>
              <td class="govuk-table__cell govuk-table__cell--numeric"><%= value[:conversions] %></td>
              <td class="govuk-table__cell govuk-table__cell--numeric"><%= value[:transfers] %></td>
            </tr>
          <% end %>
          </tbody>
        </table>
      </div>
    </div>

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-three-quarters">
        <h2 class="govuk-heading-l" id="newProjects">New projects this month (<%= Date.today.to_fs(:govuk_month) %>)</h2>
        <table class="govuk-table" name="statistics_table" aria-label="Project statistics">
          <tbody class="govuk-table__body">
            <tr>
              <th scope="row" class="govuk-table__cell">Total</td>
              <td class="govuk-table__cell govuk-table__cell--numeric"><%= @project_statistics.new_projects_this_month.total %></td>
            </tr>
            <tr>
              <th scope="row" class="govuk-table__cell">Conversions</td>
              <td class="govuk-table__cell govuk-table__cell--numeric"><%= @project_statistics.new_projects_this_month.conversions %></td>
            </tr>
            <tr>
              <th scope="row" class="govuk-table__cell">Transfers</td>
              <td class="govuk-table__cell govuk-table__cell--numeric"><%= @project_statistics.new_projects_this_month.transfers %></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-three-quarters">
        <h2 class="govuk-heading-l" id="usersPerTeam">Users per team</h2>
        <table class="govuk-table" name="statistics_table" aria-label="Users count by team">
          <thead class="govuk-table__head">
          <tr class="govuk-table__row">
            <th class="govuk-table__header" scope="col">Team</th>
            <th class="govuk-table__header govuk-table__header--numeric" scope="col">Number of users</th>
          </tr>
          </thead>
          <tbody class="govuk-table__body">
          <% @user_statistics.users_count_per_team.each do |key, value| %>
            <tr class="govuk-table__row" id="users_<%= key %>">
              <th scope="row" class="govuk-table__cell"><%= t("teams.#{key}") %></th>
              <td class="govuk-table__cell govuk-table__cell--numeric"><%= value %></td>
            </tr>
          <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
