<%= render(TaskList::TaskHeaderComponent.new(project: @project, task: @task)) %>

<% content_for :pre_content_nav do %>
  <% render partial: "conversions/tasks/shared/back_link", locals: {project_id: @project.id} %>
<% end %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <%= form_for @task, url: project_edit_task_path(@project, @task.class.identifier), method: :put do |form| %>
      <%= form.govuk_error_summary %>

      <div class="govuk-form-group">
        <%= render(TaskList::CheckBoxActionComponent.new(task: @task, attribute: :not_applicable)) %>
      </div>

      <div class="govuk-form-group">
        <%= form.govuk_radio_buttons_fieldset(:type, legend: {size: "l", text: t("conversion.task.sponsored_support_grant.type_of_grant.radio_buttons.title")}) do %>
          <div class="app-task-section__hint">
            <%= t("conversion.task.sponsored_support_grant.type_of_grant.radio_buttons.hint.html") %>
          </div>
          <%= govuk_details(
                summary_text: t("conversion.task.sponsored_support_grant.type_of_grant.radio_buttons.guidance_link"),
                text: t("conversion.task.sponsored_support_grant.type_of_grant.radio_buttons.guidance.html")
              ) %>
          <%= form.govuk_radio_button :type, "fast-track", label: {text: t("conversion.task.sponsored_support_grant.type_of_grant.radio_buttons.responses.fast_track")} %>
          <%= form.govuk_radio_button :type, "intermediate", label: {text: t("conversion.task.sponsored_support_grant.type_of_grant.radio_buttons.responses.intermediate")} %>
          <%= form.govuk_radio_button :type, "full-sponsored", label: {text: t("conversion.task.sponsored_support_grant.type_of_grant.radio_buttons.responses.full_sponsored")} %>
        <% end %>
      </div>

      <div class="govuk-form-group">
        <%= render(TaskList::CheckBoxActionComponent.new(task: @task, attribute: :payment_amount)) %>
        <%= render(TaskList::CheckBoxActionComponent.new(task: @task, attribute: :payment_form)) %>
        <%= render(TaskList::CheckBoxActionComponent.new(task: @task, attribute: :send_information)) %>
        <%= render(TaskList::CheckBoxActionComponent.new(task: @task, attribute: :inform_trust)) %>
      </div>

      <%= form.govuk_submit t("task_list.continue_button.text") if policy(@tasks_data).update? %>
    <% end %>
  </div>

  <div class="govuk-grid-column-one-third">
    <%= render partial: "conversions/shared/task_notes" %>
  </div>
</div>
