<% content_for :primary_navigation do %>
  <%= render partial: "shared/navigation/all_projects_primary_navigation" %>
<% end %>

<% content_for :page_title do %>
  <%= page_title(t("export.by_month.transfers.show.title", month: @month.to_fs(:govuk_month_only), year: @month.year)) %>
<% end %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h3 class="govuk-heading-l"><%= t("export.by_month.transfers.show.title", month: @month.to_fs(:govuk_month_only), year: @month.year) %></h3>
    <%= t("export.by_month.transfers.show.body_html", month: @month.to_fs(:govuk_month_only), year: @month.year) %>
  </div>
  <div class="govuk-grid-column-two-thirds">
    <%= govuk_button_link_to t("export.by_month.transfers.show.button"), csv_all_export_by_month_transfers_projects_path(@month.month, @month.year) %>
  </div>
</div>
