<% content_for :primary_navigation do %>
  <%= render partial: "shared/navigation/all_projects_primary_navigation" %>
<% end %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <h1 class="govuk-heading-l">
      <%= t("project.all.trust_ukprn.title", trust: @local_authority.name) %>
    </h1>
      <% if @projects.empty? %>
        <%= govuk_inset_text(text: t("project.table.trust_ukprn.empty", trust: @local_authority.name)) %>
      <% else %>
        <table class="govuk-table" name="projects_table" aria-label="Projects table">
          <thead class="govuk-table__head">
            <tr class="govuk-table__row">
              <th class="govuk-table__header" scope="col"><%= t("project.table.headers.school_name") %></th>
              <th class="govuk-table__header" scope="col"><%= t("project.table.headers.school_urn") %></th>
              <th class="govuk-table__header" scope="col"><%= t("project.table.headers.conversion_or_transfer_date") %></th>
              <th class="govuk-table__header" scope="col"><%= t("project.summary.type.title") %></th>
              <th class="govuk-table__header" scope="col"><%= t("project.table.headers.assigned_to") %></th>
            </tr>
          </thead>
          <tbody class="govuk-table__body">
          <% @projects.each do |project| %>
            <tr class="govuk-table__row">
              <td class="govuk-table__header govuk-table__cell">
                <%= link_to project.establishment.name, project_path(project) %>
              </td>
              <td class="govuk-table__cell"><%= project.urn %></td>
              <td class="govuk-table__cell"><%= project.significant_date.to_formatted_s(:significant_date) %></td>
              <td class="govuk-table__cell"><%= t("project.table.body.type_name.#{project.type_locale}") %></td>
              <td class="govuk-table__cell"><%= display_name(project.assigned_to) %></td>
              </tr>
          <% end %>
          </tbody>
        </table>

        <%= govuk_pagination(pagy: @pager) %>
      <% end %>
  </div>
</div>
