<% content_for :primary_navigation do %>
  <%= render partial: "shared/navigation/all_projects_primary_navigation" %>
<% end %>

<% content_for :page_title do %>
  <%= page_title(t("export.grant_management_and_finance_unit.transfers.index.title")) %>
<% end %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">

    <h1 class="govuk-heading-l">
      <%= t("export.grant_management_and_finance_unit.transfers.index.title") %>
    </h1>
    <p><%= t("export.grant_management_and_finance_unit.transfers.index.body") %></p>

    <nav class="moj-sub-navigation" aria-label="Project index sub-navigation">
      <ul class="moj-sub-navigation__list">
        <%= render partial: "shared/sub_navigation_item",
              locals: {name: t("subnavigation.conversions"),
                       path: all_export_grant_management_and_finance_unit_conversions_projects_path} %>
        <%= render partial: "shared/sub_navigation_item",
              locals: {name: t("subnavigation.transfers"),
                       path: all_export_grant_management_and_finance_unit_transfers_projects_path} %>
      </ul>
    </nav>

    <table class="govuk-table" name="projects_table" aria-label="Grant management and finance unit exports">
      <thead class="govuk-table__head">
      <tr class="govuk-table__row">
        <th class="govuk-table__header" scope="col"><%= t("project.table.headers.date") %></th>
        <th class="govuk-table__header" scope="col"><%= t("project.table.headers.number_of_transfers") %></th>
        <th class="govuk-table__header" scope="col"><%= t("project.table.headers.export") %></th>
      </tr>
      </thead>
      <tbody class="govuk-table__body">
      <% @data.each do |month| %>
        <tr class="govuk-table__row" id="<%= month[:month].to_fs(:govuk_month).tr(" ", "_") %>">
          <td class="govuk-table__header govuk-table__cell"><%= month[:month].to_fs(:govuk_month) %></td>
          <td class="govuk-table__cell"><%= month[:count] %></td>
          <td class="govuk-table__cell">
            <%= link_to t("project.table.body.export_for_html", date: month[:month].to_fs(:govuk_month)), show_all_export_grant_management_and_finance_unit_transfers_projects_path(month[:month].month, month[:month].year) %>
          </td>
        </tr>
      <% end %>
      </tbody>
    </table>
  </div>
</div>
