<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-l">
      <%= t("project.academy_urn.confirm.title") %>
    </h1>

    <%= t("project.academy_urn.confirm.body_html", urn: @academy_urn) %>

    <%= govuk_summary_list do |summary_list|
          summary_list.row do |row|
            row.key { t("project.academy_urn.confirm.academy_name") }
            row.value { @establishment.name }
          end
          summary_list.row do |row|
            row.key { t("project.academy_urn.confirm.academy_address") }
            row.value { address_markup(@establishment.address) }
          end
          summary_list.row do |row|
            row.key { t("project.academy_urn.confirm.local_authority") }
            row.value { @establishment.local_authority_name }
          end
          summary_list.row do |row|
            row.key { t("project.academy_urn.confirm.school_phase") }
            row.value { @establishment.phase }
          end
        end %>

    <%= form_for @project, url: project_academy_urn_path, method: :patch do |form| %>
      <%= form.hidden_field :academy_urn, value: @academy_urn %>
      <%= form.govuk_submit t("project.academy_urn.confirm.save_and_return") do %>
        <%= govuk_link_to t("cancel"), new_all_projects_path %>
      <% end %>
    <% end %>

  </div>
</div>
