<% if @dates.empty? %>
  <%= govuk_inset_text(text: "No date history") %>
<% else %>
  <table class="govuk-table" name="projects_table" aria-label="Table of date history">
    <thead class="govuk-table__head">
      <tr class="govuk-table__row">
        <th class="govuk-table__header" scope="col"><%= t("project.table.headers.date_and_time") %></th>
        <th class="govuk-table__header" scope="col"><%= t("project.table.headers.changed_by") %></th>
        <th class="govuk-table__header" scope="col"><%= t("project.table.headers.previous_date") %></th>
        <th class="govuk-table__header" scope="col"><%= t("project.table.headers.revised_date") %></th>
        <th class="govuk-table__header" scope="col"><%= t("project.table.headers.note") %></th>
      </tr>
    </thead>
    <tbody class="govuk-table__body">
      <% @dates.each do |date| %>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell"><%= date.created_at.to_fs(:govuk_date_time) %></td>
          <td class="govuk-table__cell"><%= date.reasons.first.note.user.email %></td>
          <td class="govuk-table__cell"><%= date.previous_date.to_fs(:govuk_month) %></td>
          <td class="govuk-table__cell"><%= date.revised_date.to_fs(:govuk_month) %></td>
          <td class="govuk-table__cell"><%= date.reasons.first.note.body %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% end %>
