<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <nav class="moj-sub-navigation" aria-label="Project sub-navigation">
      <ul class="moj-sub-navigation__list">

        <%= render partial: "shared/sub_navigation_item", locals: {name: t("subnavigation.project_task_list"), path: project_tasks_path(@project)} %>

        <%= render partial: "shared/sub_navigation_item", locals: {name: t("subnavigation.project_information"), path: project_information_path(@project)} %>

        <%= render partial: "shared/sub_navigation_item", locals: {name: t("subnavigation.notes"), path: project_notes_path(@project)} %>

        <%= render partial: "shared/sub_navigation_item", locals: {name: t("subnavigation.external_contacts"), path: project_contacts_path(@project)} %>

        <%= render partial: "shared/sub_navigation_item", locals: {name: t("subnavigation.internal_contacts"), path: project_internal_contacts_path(@project)} %>

        <%= render partial: "shared/sub_navigation_item", locals: {name: t("subnavigation.date_history.#{project_type_as_string(@project)}"), path: project_date_history_path(@project)} %>

      </ul>
    </nav>
  </div>
</div>
