<div class="govuk-grid-row">
  <div class="govuk-grid-column-full-width">
    <div class="govuk-grid-column-one-quarter">
      <nav>
        <h2 class="govuk-heading-m"><%= t("project_information.show.side_navigation.title") %></h2>
        <ul class="list-style-none govuk-!-padding-0">
          <% @task_list.sections.each do |section| %>
            <%= render partial: "shared/side_navigation_item", locals: {name: t("#{section.locales_path}.title"), path: "##{section.identifier}"} %>
          <% end %>

          <% unless @project.completed? %>
            <li><%= link_to t("project.show.completing_a_project_link"), "#completing-a-project", class: "govuk-link govuk-link--no-visited-state" %></li>
          <% end %>
        </ul>
      </nav>
    </div>
    <div class="govuk-grid-column-three-quarters">
      <div class="govuk-grid-row">
        <h2 class="govuk-heading-l"><%= t("project.show.title") %></h2>
      </div>
      <div class="govuk-grid-row">
        <ol class="app-task-list">
          <% @task_list.sections.each do |section| %>
            <li>
              <h3 class="app-task-list__section" id="<%= section.identifier %>">
                <%= t("#{section.locales_path}.title") %>
              </h3>
              <ul class="app-task-list__items">
                <% section.tasks.each do |task| %>
                  <li class="app-task-list__item">
                  <span class="app-task-list__task-name">
                    <%= govuk_link_to(
                          t("#{task.locales_path}.title"),
                          project_edit_task_path(@project, task.identifier),
                          aria: {describedby: task_id(task)}
                        ) %>
                  </span>
                    <%= task_status_tag(task, task_id(task)) %>
                  </li>
                <% end %>
              </ul>
            </li>
          <% end %>
        </ol>
      </div>
      <div class="govuk-grid-row">
        <%= render "projects/show/complete" if @project.active? && policy(@project).update? %>
      </div>
    </div>
  </div>
</div>
