<% content_for :pre_content_nav do %>
  <% render partial: "shared/back_link", locals: {href: back_link_destination(@note)} %>
<% end %>

<div class="govuk-grid-row govuk-body">
  <div class="govuk-grid-column-two-thirds">
    <%= form_for [@project, @note] do |form| %>
      <%= form.govuk_error_summary %>

      <%= form.govuk_text_area :body, label: {tag: "h1", size: "l"} %>

      <%= form.govuk_submit t("note.edit.save_note_button") do %>
        <% if policy(@note).destroy? %>
          <%= govuk_button_link_to "Delete", project_note_delete_path(@project, @note), warning: true %>
        <% end %>
        <%= govuk_link_to "Cancel", back_link_destination(@note) %>
      <% end %>
    <% end %>
  </div>
</div>
