<% content_for :pre_content_nav do %>
  <%= govuk_back_link(href: root_path) %>
<% end %>

<%= render partial: "shared/project_summary" %>

<%= render partial: "shared/project_sub_navigation" %>

<div class="govuk-grid-row govuk-body">
  <div class="govuk-grid-column-two-thirds">
    <h2 class="govuk-heading-l"><%= t("note.index.notes") %></h2>

    <div class="govuk-!-margin-bottom-5">
      <%= govuk_button_link_to t("note.index.add_note_button"), new_project_note_path(@project) %>
    </div>

   <%= render "notes/notes" %>
  </div>
</div>
