<% content_for :pre_content_nav do %>
  <%= govuk_back_link(href: back_link_destination(@note)) %>
<% end %>

<div class="govuk-grid-row govuk-body">
  <div class="govuk-grid-column-two-thirds">
    <%= form_for [@project, @note] do |form| %>
      <%= form.govuk_error_summary %>

      <%= form.hidden_field :task_id %>

      <%= form.govuk_text_area :body, label: {tag: "h1", size: "l"} %>

      <%= form.govuk_submit t("note.new.save_note_button") do %>
        <%= govuk_link_to "Cancel", conversion_project_notes_path(@project) %>
      <% end %>
    <% end %>
  </div>
</div>
