<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <%= form_for @project, url: project_assign_caseworker_path(@project), method: :post do |form| %>
      <%= form.govuk_error_summary %>

      <span class="govuk-caption-m">URN <%= @project.urn %></span>
      <%= form.govuk_collection_select :caseworker_id,
            @caseworkers,
            :id,
            ->(user) { full_name_and_email(user) },
            label: {text: t("assignment.assign_caseworker.title", school_name: @project.establishment.name),
                    tag: "h1",
                    size: "l"},
            options: {include_blank: true, selected: @project.caseworker&.id} %>

      <%= form.govuk_submit do %>
        <%= govuk_link_to "Cancel", project_information_path(@project) %>
      <% end %>
    <% end %>
  </div>
</div>

<%= render partial: "shared/autocomplete", locals: {field_id: "project-caseworker-id-field"} %>
