<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <%= form_for @project, url: path_to_assigned_to_project_assignment(@project), method: :post do |form| %>
      <%= form.govuk_error_summary %>

      <span class="govuk-caption-m">URN <%= @project.urn %></span>
      <%= form.govuk_collection_select :assigned_to_id,
            @all_assignable_users,
            :id,
            ->(user) { full_name_and_email(user) },
            label: {text: t("assignment.assign_assigned_to.title", school_name: @project.establishment.name),
                    tag: "h1",
                    size: "l"},
            class: "accessible-autocomplete-target",
            options: {include_blank: true, selected: @project.assigned_to&.id} %>
      <%= form.hidden_field :return_to, value: request.referrer %>

      <%= form.govuk_submit do %>
        <%= govuk_link_to "Cancel", project_information_path(@project) %>
      <% end %>
    <% end %>
  </div>
</div>

<%= render partial: "shared/autocomplete", locals: {selector: ".accessible-autocomplete-target"} %>
