<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <%= form_for @project, url: project_assign_regional_delivery_officer_path(@project), method: :post do |form| %>
      <%= form.govuk_error_summary %>

      <span class="govuk-caption-m">URN <%= @project.urn %></span>
      <%= form.govuk_collection_select :regional_delivery_officer_id,
            @regional_delivery_officers,
            :id,
            ->(user) { full_name_and_email(user) },
            label: {text: t("assignment.assign_regional_delivery_officer.title", school_name: @project.establishment.name),
                    tag: "h1",
                    size: "l"},
            options: {include_blank: true, selected: @project.regional_delivery_officer&.id} %>

      <%= form.govuk_submit do %>
        <%= govuk_link_to "Cancel", project_information_path(@project) %>
      <% end %>
    <% end %>
  </div>
</div>

<%= render partial: "shared/autocomplete", locals: {field_id: "project-regional-delivery-officer-id-field"} %>
