<% if projects.empty? %>
  <%= govuk_inset_text(text: t("project.table.new.empty")) %>
<% else %>
  <table class="govuk-table" name="projects_table" aria-label="Projects table">
    <thead class="govuk-table__head">
      <tr class="govuk-table__row">
        <th class="govuk-table__header" scope="col"><%= t("project.table.headers.school_name") %></th>
        <th class="govuk-table__header" scope="col"><%= t("project.table.headers.school_urn") %></th>
        <th class="govuk-table__header" scope="col"><%= t("project.table.headers.school_type") %></th>
        <th class="govuk-table__header" scope="col"><%= t("project.table.headers.school_phase") %></th>
        <th class="govuk-table__header" scope="col"><%= t("project.table.headers.conversion_date") %></th>
        <th class="govuk-table__header" scope="col"><%= t("project.table.headers.route") %></th>
        <th class="govuk-table__header" scope="col"><%= t("project.table.headers.academy_name") %></th>
        <th class="govuk-table__header" scope="col"><%= t("project.table.headers.academy_urn") %></th>
        <th class="govuk-table__header" scope="col"><%= t("project.table.headers.view") %></th>
      </tr>
    </thead>
    <tbody class="govuk-table__body">
    <% projects.each do |project| %>
      <tr class="govuk-table__row">
        <td class="govuk-table__header govuk-table__cell"><%= project.establishment.name %></td>
        <td class="govuk-table__cell"><%= project.urn %></td>
        <td class="govuk-table__cell"><%= project.establishment.type %></td>
        <td class="govuk-table__cell"><%= project.establishment.phase %></td>
        <td class="govuk-table__cell"><%= project.conversion_date.to_formatted_s(:govuk) %></td>
        <td class="govuk-table__cell"><%= t("project.table.body.#{project.route}") %></td>
        <td class="govuk-table__cell"><%= academy_name(project) %></td>
        <td class="govuk-table__cell">
          <a href="<%= project_academy_urn_path(project) %>">
            <%= t("project.table.body.edit_html", school_name: project.establishment.name) %>
          </a>
        </td>
        <td class="govuk-table__cell">
          <a href="<%= project_path(project) %>">
            <%= t("project.table.body.view_html", school_name: project.establishment.name) %>
          </a>
        </td>
      </tr>
    <% end %>
    </tbody>
  </table>
<% end %>

<%= govuk_pagination(pagy: pager) %>
