<h2 class="govuk-heading-l"><%= t("subnavigation.project_information") %></h2>

<%= render partial: "shared/project_information/project_details", locals: { project: @project } %>

<%= render partial: "assignment", locals: { project: @project } %>

<%= render partial: "project_information/reasons_for_transfer", locals: { project: @project } %>

<%= render partial: "shared/project_information/advisory_board_details", locals: { project: @project } %>

<%= render partial: "academy_details", locals: { academy: @project.establishment, project: @project } %>

<%= render partial: "shared/project_information/incoming_trust_details", locals: { incoming_trust: @project.incoming_trust, project: @project } %>

<%= render partial: "outgoing_trust_details", locals: { outgoing_trust: @project.outgoing_trust, project: @project } %>
