<nav>
  <h2 class="govuk-heading-m"><%= t("project_information.show.side_navigation.title") %></h2>
  <ul class="list-style-none govuk-!-padding-0">
    <%= render partial: "shared/side_navigation_item", locals: {name: t("project_information.show.project_details.title"), path: "#projectDetails"} %>
    <%= render partial: "shared/side_navigation_item", locals: {name: t("project_information.show.advisory_board_details.title"), path: "#advisoryBoardDetails"} %>
    <%= render partial: "shared/side_navigation_item", locals: {name: t("project_information.show.academy_details.title"), path: "#academyDetails"} %>
    <%= render partial: "shared/side_navigation_item", locals: {name: t("project_information.show.incoming_trust_details.title"), path: "#incomingTrustDetails"} %>
    <%= render partial: "shared/side_navigation_item", locals: {name: t("project_information.show.outgoing_trust_details.title"), path: "#outgoingTrustDetails"} %>
    <%= render partial: "shared/side_navigation_item", locals: {name: t("project_information.show.diocese_details.title"), path: "#dioceseDetails"} %>
  </ul>
</nav>
