<% content_for :pre_content_nav do %>
  <% render partial: "shared/back_link", locals: {href: project_contacts_path(@project)} %>
<% end %>

<% content_for :page_title do %>
  <%= page_title(t("contact.new.title")) %>
<% end %>

<span class="govuk-caption-l"><%= t("helpers.label.new_contact_form.subtitle") %></span>
<div class="govuk-grid-row govuk-body">
  <div class="govuk-grid-column-full">
    <%= form_with model: @contact_form, url: project_contacts_path(@project, @contact), method: :post do |form| %>
      <%= form.govuk_error_summary %>

      <%= form.govuk_collection_radio_buttons :contact_type,
            @contact_form.contact_types,
            ->(option) { option },
            ->(option) { I18n.t("helpers.contact_types." + option) },
            legend: {text: I18n.t("helpers.label.new_contact_form.contact_type"), size: "xl"},
            hint: {text: I18n.t("helpers.hint.new_contact_form.contact_type_html").html_safe} %>

      <%= form.govuk_submit "Save and continue" do %>
        <%= govuk_link_to "Cancel", project_contacts_path(@project) %>
      <% end %>
    <% end %>
  </div>
</div>
