<% content_for :pre_content_nav do %>
  <% render partial: "shared/back_link", locals: {href: project_contacts_path(@project)} %>
<% end %>

<% content_for :page_title do %>
  <%= page_title(t("contact.new.title")) %>
<% end %>

<h1 class="govuk-heading-l"><%= t("contact.new.title") %></h1>

<div class="govuk-grid-row govuk-body">
  <div class="govuk-grid-column-two-thirds">
    <%= form_for [@project, @contact], url: project_contacts_path(@project, @contact) do |form| %>
      <%= form.govuk_error_summary %>

      <%= form.govuk_select(:category) do %>
        <option selected="selected" value=""><%= t("contact.categories.choose") %></option>
        <% Contact.categories.each do |name, _category| %>
          <option value="<%= name %>"><%= name.humanize %></option>
        <% end %>
      <% end %>

      <%= form.govuk_text_field :title, width: 20 %>
      <%= form.govuk_text_field :name %>
      <%= form.govuk_text_field :organisation_name %>
      <%= form.govuk_email_field :email %>
      <%= form.govuk_phone_field :phone, width: 10 %>
      <%= form.govuk_check_boxes_fieldset :establishment_main_contact, multiple: false, legend: {text: t("helpers.label.contact_project.establishment_main_contact"), size: "s"} do %>
        <%= form.govuk_check_box :establishment_main_contact, 1, 0, multiple: false, link_errors: true, label: {text: t("yes")} %>
      <% end %>
      <%= form.govuk_check_boxes_fieldset :incoming_trust_main_contact, multiple: false, legend: {text: t("helpers.label.contact_project.incoming_trust_main_contact"), size: "s"} do %>
        <%= form.govuk_check_box :incoming_trust_main_contact, 1, 0, multiple: false, link_errors: true, label: {text: t("yes")} %>
      <% end %>

      <%= form.govuk_submit t("contact.new.save_contact_button") do %>
        <%= govuk_link_to "Cancel", project_contacts_path(@project) %>
      <% end %>
    <% end %>
  </div>
</div>
