<% content_for :pre_content_nav do %>
  <%= govuk_back_link(href: project_path(@task.project)) %>
<% end %>

<h1 class="govuk-heading-l"><%= @task.title %></h1>

<%= form_for :task, url: project_task_path, method: :put do |form| %>
  <%= form.govuk_check_boxes_fieldset :actions, legend: { text: "Actions", size: "m" } do %>
    <% @task.actions.each do |action| %>
      <%= form.govuk_check_box :action_titles, action.title, label: { text: action.title }, link_errors: true, checked: action.completed? %>
    <% end %>
  <% end %>

  <%= form.govuk_submit %>
<% end %>

