<% content_for :pre_content_nav do %>
  <%= govuk_back_link(href: project_path(@task.project)) %>
<% end %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <div class="govuk-!-margin-bottom-9">
      <%= render partial: "tasks/shared/task_title", locals: {task: @task} %>

      <%= render partial: "tasks/shared/task_hint", locals: {task: @task} %>

      <%= render partial: "tasks/shared/task_guidance_summary", locals: {task: @task} %>
    </div>

    <%= form_for :task, url: project_task_path, method: :put do |form| %>
      <%= form.govuk_check_boxes_fieldset :actions, legend: {hidden: true}, classes: "task-checkboxes" do %>
        <% @task.actions.each do |action| %>
          <%= render layout: "tasks/shared/action_#{action.action_type}", locals: {action: action, form: form} do %>

            <%= render partial: "tasks/shared/action_hint", locals: {action: action} %>

            <%= render partial: "tasks/shared/action_guidance_summary", locals: {action: action} %>

          <% end %>
        <% end %>
      <% end %>
      <%= form.govuk_submit %>
    <% end %>
  </div>
</div>
