<% content_for :pre_content_nav do %>
  <%= govuk_back_link(href: project_path(@task.project)) %>
<% end %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <div class="govuk-!-margin-bottom-9">
      <span class="govuk-caption-l"><%= @task.project.establishment.name %></span>
      <h1 class="govuk-heading-xl govuk-!-margin-bottom-2"><%= @task.title %></h1>

      <% if @task.hint? %>
        <p class="govuk-body"><%= render_markdown(@task.hint) %></p>
      <% end %>

      <% if @task.guidance_summary? %>
        <%= govuk_details(summary_text: @task.guidance_summary) do %>
          <%= render_markdown(@task.guidance_text) %>
        <% end %>
      <% end %>
    </div>

    <%= form_for :task, url: project_task_path, method: :put do |form| %>
      <%= form.govuk_check_boxes_fieldset :actions, legend: {hidden: true}, classes: "task-checkboxes" do %>
        <% @task.actions.each do |action| %>
          <%= form.govuk_check_box :completed_action_ids,
                                   action.id,
                                   label: { text: action.title },
                                   link_errors: true,
                                   checked: action.completed?,
                                   hint: -> do %>

            <%= render_markdown(action.hint, hint: true) unless action.hint.nil? %>

            <% if action.guidance_summary? %>
              <%= govuk_details(summary_text: action.guidance_summary) do %>
                <%= render_markdown(action.guidance_text) %>
              <% end %>
            <% end %>

          <% end %>
        <% end %>

        <% if @task.optional? %>
          <%= form.govuk_check_box_divider %>
          <%= form.govuk_check_box :not_applicable,
                true,
                label: {text: t("tasks.not_applicable")},
                checked: @task.not_applicable? %>
        <% end %>
      <% end %>
      <%= form.govuk_submit %>
    <% end %>
  </div>
</div>
