<% if projects.empty? %>
  <%= govuk_inset_text(text: t("project.table.in_progress.empty")) %>
<% else %>
  <table class="govuk-table" name="projects_table" aria-label="Projects table">
    <thead class="govuk-table__head">
      <tr class="govuk-table__row">
        <th class="govuk-table__header" scope="col"><%= t("project.table.headers.school_name") %></th>
        <th class="govuk-table__header" scope="col"><%= t("project.table.headers.school_urn") %></th>
        <th class="govuk-table__header" scope="col"><%= t("project.table.headers.local_authority_name") %></th>
        <% if @current_user.is_regional_caseworker? %>
          <th class="govuk-table__header" scope="col"><%= t("project.table.headers.region") %></th>
        <% end %>
        <% if @current_user.is_regional_delivery_officer? %>
          <th class="govuk-table__header" scope="col"><%= t("project.table.headers.team") %></th>
        <% end %>
        <th class="govuk-table__header" scope="col"><%= t("project.table.headers.assigned_to") %></th>
        <th class="govuk-table__header" scope="col"><%= t("project.summary.type.title") %></th>
        <th class="govuk-table__header" scope="col"><%= t("project.table.headers.form_a_mat") %></th>
        <th class="govuk-table__header" scope="col"><%= t("project.table.headers.conversion_or_transfer_date") %></th>
      </tr>
    </thead>
    <tbody class="govuk-table__body">
    <% projects.each do |project| %>
      <tr class="govuk-table__row">
        <td class="govuk-table__header govuk-table__cell">
          <%= link_to project.establishment.name, project_path(project), class: "govuk-link govuk-link--no-visited-state" %>
        </td>
        <td class="govuk-table__cell"><%= project.urn %></td>
        <td class="govuk-table__cell"><%= project.establishment.local_authority_name %></td>
        <% if @current_user.is_regional_caseworker? %>
          <td class="govuk-table__cell"><%= t("teams.#{project.region}") %></td>
        <% end %>
        <% if @current_user.is_regional_delivery_officer? %>
          <td class="govuk-table__cell"><%= t("teams.#{project.team}") %></td>
        <% end %>
        <td class="govuk-table__cell"><%= display_name(project.assigned_to) %></td>
        <td class="govuk-table__cell"><%= t("project.table.body.type_name.#{project.type_locale}") %></td>
        <td class="govuk-table__cell"><%= project.form_a_mat? ? t("yes") : t("no") %></td>
        <td class="govuk-table__cell"><%= project.significant_date.to_formatted_s(:significant_date) %></td>
      </tr>
    <% end %>
    </tbody>
  </table>
<% end %>

<%= govuk_pagination(pagy: pager) %>
