<% content_for :pre_content_nav do %>
  <%= govuk_back_link(href: root_path) %>
<% end %>

<%= render partial: "shared/project_summary" %>

<%= render partial: "shared/project_sub_navigation" %>

<div class="govuk-grid-row govuk-body">
  <div class="govuk-grid-column-one-quarter">
    <%= render partial: "project_information/show/side_navigation" %>
  </div>

  <div class="govuk-grid-column-three-quarters" id="projectInformationList">
    <%= render partial: "project_information/show/information_list" %>
  </div>
</div>
