<% content_for :page_title do %>
  <%= page_title(@project.establishment.name) %>
<% end %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <span class="govuk-caption-l">
      <%= t("project.summary.heading.conversion", urn: @project.urn) %>
      <%= govuk_tag(text: t("project.summary.type.conversion"), colour: "purple") %>

      <% if @project.form_a_mat? %>
        <%= govuk_tag(text: t("project.summary.type.form_a_mat"), colour: "pink") %>
      <% end %>

      <% if @project.dao_revoked? %>
        <%= govuk_tag(text: t("project.summary.type.dao_revoked"), colour: "red") %>
      <% end %>
    </span>
    <h1 class="govuk-heading-xl"><%= @project.establishment.name %></h1>
  </div>
</div>

<%= project_notification_banner(@project, current_user) %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-three-quarters">
    <%= govuk_summary_list(actions: false, html_attributes: {id: "project-summary", class: "dfe-summary-list--project-summary"}) do |summary_list|
          summary_list.with_row do |row|
            row.with_key { t("project.summary.converting_on.title") }
            row.with_value { significant_date(@project) }
          end
          summary_list.with_row do |row|
            row.with_key { t("project.summary.incoming_trust.title") }
            row.with_value { @project.incoming_trust.name }
          end
          summary_list.with_row do |row|
            row.with_key { t("project.summary.la_and_region.title") }
            row.with_value { "#{@project.establishment.local_authority_name}, #{@project.establishment.region_name}" }
          end
          summary_list.with_row do |row|
            row.with_key { t("project.summary.sharepoint_links.title") }
            row.with_value { [safe_link_to(t("project.summary.school_sharepoint_link.title"), @project.establishment_sharepoint_link), safe_link_to(t("project.summary.trust_sharepoint_link.title"), @project.incoming_trust_sharepoint_link)].join(" | ").html_safe }
          end
          if @project.completed?
            summary_list.with_row do |row|
              row.with_key { t("project.summary.completed_at") }
              row.with_value { @project.completed_at.to_formatted_s(:govuk_date_time_date_only) }
            end
          end
        end %>

  </div>
</div>

<%= render partial: "shared/projects/actions" %>
