<% content_for :page_title do %>
  <%= page_title("Project assigned") %>
<% end %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <%= govuk_panel(
          title_text: "Project assigned",
          text: "#{@project.establishment.name}<br> <strong>URN #{@project.urn}</strong>".html_safe
        ) %>

    <h2 class="govuk-heading-m">What happens next?</h2>
    <p>This project will appear in the relevant team and person's project lists and work on it can begin.</p>

    <h2 class="govuk-heading-m">Add contact details</h2>
    <p>You must
    <%= link_to "add contact details", project_contacts_path(@project) %>
    for the:</p>
    <ul>
      <li>school</li>
      <li>trust</li>
      <li>solicitors</li>
      <li>local authority</li>
      <li>diocese (if applicable)</li>
    </ul>
    <p>This will make sure that teams who process funding letters and other legal documents can contact the relevant people.</p>

    <%= govuk_button_link_to "Add contacts", project_contacts_path(@project) %>

    <h2 class="govuk-heading-m">Hand over a another project</h2>
    <p>You can
    <%= link_to "return to the list of projects to handover", all_handover_projects_path %>
    if you need to add details to others.</p>

  </div>
</div>
