<% content_for :pre_content_nav do %>
  <% render partial: "shared/back_link", locals: {href: new_project_path} %>
<% end %>

<% content_for :page_title do %>
  <%= page_title(t("transfer_project.new.title")) %>
<% end %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <%= form_with model: @project, url: transfers_path do |form| %>
      <%= form.govuk_error_summary %>

      <h1 class="govuk-heading-xl"><%= t("transfer_project.new.title") %></h1>
      <%= t("transfer_project.new.hint_html") %>

      <div class="govuk-form-group">
        <%= form.govuk_text_field :urn, label: {size: "m", text: t("helpers.label.transfer_project.urn")}, hint: {text: t("helpers.hint.transfer_project.urn").html_safe}, width: 10, autocomplete: :off %>
        <%= form.govuk_text_field :outgoing_trust_ukprn, label: {size: "m", text: t("helpers.label.transfer_project.outgoing_trust_ukprn")}, hint: {text: t("helpers.hint.transfer_project.outgoing_trust_ukprn").html_safe}, width: 10, autocomplete: :off %>
        <%= form.govuk_text_field :incoming_trust_ukprn, label: {size: "m", text: t("helpers.label.transfer_project.incoming_trust_ukprn")}, hint: {text: t("helpers.hint.transfer_project.incoming_trust_ukprn").html_safe}, width: 10, autocomplete: :off %>
      </div>

      <div class="govuk-form-group">
        <%= form.govuk_text_field :group_id, label: {size: "m"}, width: 10, autocomplete: :off %>
      </div>

      <div class="govuk-form-group">
        <%= form.govuk_text_field :establishment_sharepoint_link, label: {size: "m", text: t("helpers.label.transfer_project.establishment_sharepoint_link")} %>
        <%= form.govuk_text_field :incoming_trust_sharepoint_link, label: {size: "m", text: t("helpers.label.transfer_project.incoming_trust_sharepoint_link")} %>
        <%= form.govuk_text_field :outgoing_trust_sharepoint_link, label: {size: "m", text: t("helpers.label.transfer_project.outgoing_trust_sharepoint_link")} %>
      </div>

      <div class="govuk-form-group">
        <%= form.govuk_date_field :advisory_board_date, legend: {text: t("helpers.legend.transfer_project.advisory_board_date")}, form_group: {id: "advisory-board-date"}, hint: {text: t("helpers.hint.project.advisory_board_date").html_safe} %>
        <%= form.govuk_text_area :advisory_board_conditions, label: {size: "m", text: t("helpers.label.transfer_project.advisory_board_conditions")} %>
      </div>

      <div class="govuk-form-group">
        <%= form.govuk_date_field :provisional_transfer_date, legend: {text: t("helpers.legend.transfer_project.provisional_transfer_date")}, omit_day: true, form_group: {id: "provisional-transfer-date"}, hint: {text: t("helpers.hint.transfer_project.provisional_transfer_date")} %>
      </div>

      <div class="govuk-form-group">
        <%= form.govuk_collection_radio_buttons :two_requires_improvement,
              yes_no_responses,
              :id,
              :name,
              form_group: {id: "two-requires-improvement"},
              hint: {text: t("helpers.hint.transfer_project.two_requires_improvement")} %>

        <%= form.govuk_collection_radio_buttons :inadequate_ofsted,
              yes_no_responses,
              :id,
              :name,
              form_group: {id: "inadequate-ofsted"} %>

        <%= form.govuk_collection_radio_buttons :financial_safeguarding_governance_issues,
              yes_no_responses,
              :id,
              :name,
              form_group: {id: "financial-safeguarding-governance-issues"} %>

        <%= form.govuk_collection_radio_buttons :outgoing_trust_to_close,
              yes_no_responses,
              :id,
              :name,
              form_group: {id: "outgoing-trust-to-close"} %>
      </div>

      <div class="govuk-form-group">
        <%= form.govuk_collection_radio_buttons :assigned_to_regional_caseworker_team,
              yes_no_responses,
              :id,
              :name,
              form_group: {id: "assigned-to-regional-caseworker-team"},
              legend: {text: t("helpers.legend.transfer_project.assigned_to_regional_caseworker_team")} %>
        <%= form.govuk_text_area :handover_note_body,
              label: {text: t("helpers.label.transfer_project.handover_note_body"), size: "m"},
              hint: {text: t("helpers.hint.transfer_project.handover_note_body_html")} %>
      </div>

      <%= form.govuk_submit %>
    <% end %>
  </div>
</div>
