<% content_for :primary_navigation do %>
  <%= render partial: "shared/navigation/service_support_primary_navigation" %>
<% end %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <h1 class="govuk-heading-l">
      <%= t("user.title") %>
    </h1>

    <%= render partial: "users_sub_navigation" %>

    <h2 class="govuk-heading-m">
      <%= t("user.disabled.title") %>
    </h2>

    <%= render partial: "users_table", locals: {user_accounts: @users, pager: @pager} %>

  </div>
</div>
