<div class="date-range">
  <%= form_tag(action, method: :post) do %>
    <fieldset class="govuk-fieldset">
      <legend class="govuk-fieldset__legend govuk-fieldset__legend--s"><%= t("project.date_range.date_form.label") %></legend>

        <div class="govuk-form-group">
          <%= label_tag :from_date, t("project.date_range.date_form.from"), class: "govuk-label" %>
          <%= select_tag :from_date,
                options_from_collection_for_select(export_from_date_range, :id, :name, @from_date.to_s),
                class: "govuk-select" %>
        </div>

        <div class="govuk-form-group">
          <%= label_tag :to_date, t("project.date_range.date_form.to"), class: "govuk-label" %>
          <%= select_tag :to_date,
                options_from_collection_for_select(export_to_date_range, :id, :name, @to_date.to_s),
                class: "govuk-select" %>
        </div>

        <div class="govuk-form-group">
          <button type="submit" class="govuk-button" data-module="govuk-button"><%= t("project.date_range.date_form.apply") %></button>
        </div>
    </fieldset>
  <% end %>
</div>
