<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">

    <span class="govuk-caption-l">URN <%= @project.urn %></span>
    <h1 class="govuk-heading-l"><%= @project.establishment.name %></h1>

    <%= govuk_inset_text do %>
      <p class="govuk-body govuk-!-margin-0">
        <span class="govuk-!-font-weight-bold"><%= t('project.summary.delivery_officer.title') %>:</span>
        <%= @project.delivery_officer&.email or t('project.summary.delivery_officer.unassigned') %>
      </p>
    <% end %>

    <% if policy(@project).edit? %>
      <p class="govuk-body">
        <%= link_to t('project.show.edit_button.text'), edit_project_path(@project), class: "govuk-link" %>
      </p>
    <% end %>

  </div>
</div>