<ol class="app-task-list">
  <% @project.sections.each do |section| %>
    <li>
      <h2 class="app-task-list__section">
        <span class="app-task-list__section-number"><%= section.order + 1 %>. </span> <%= section.title %>
      </h2>
      <ul class="app-task-list__items">
        <% section.tasks.each do |task| %>
          <li class="app-task-list__item">
              <span class="app-task-list__task-name">
                <a href="#" aria-describedby=<%= task_status_id(task) %>>
                  <%= link_to(task.title, project_task_path(@project.id, task.id), class: "govuk-link") %>
                </a>
              </span>
              <%= task_status_tag(task) %>
          </li>
        <% end %>
      </ul>
    </li>
  <% end %>
</ol>