<%= render(TaskList::TaskHeaderComponent.new(project: @project, task: @task)) %>

<% content_for :pre_content_nav do %>
  <% render partial: "shared/back_link", locals: {href: task_list_path(@project)} %>
<% end %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <%= form_for @task, url: conversions_involuntary_project_update_task_path(@project, @task.class.identifier), method: :put do |form| %>
      <%= form.govuk_error_summary %>

      <div class="govuk-form-group">
        <%= render(TaskList::CheckBoxActionComponent.new(task: @task, attribute: :not_applicable)) %>
      </div>

      <h2 class="govuk-heading-l"><%= t("conversion.involuntary.tasks.subleases.clear_section.title") %></h2>

      <div class="govuk-form-group">
        <%= render(TaskList::CheckBoxActionComponent.new(task: @task, attribute: :received)) %>
        <%= render(TaskList::CheckBoxActionComponent.new(task: @task, attribute: :cleared)) %>
        <%= render(TaskList::CheckBoxActionComponent.new(task: @task, attribute: :signed)) %>
        <%= render(TaskList::CheckBoxActionComponent.new(task: @task, attribute: :saved)) %>
      </div>

      <h2 class="govuk-heading-l"><%= t("conversion.involuntary.tasks.subleases.confirm_section.title") %></h2>

      <div class="govuk-form-group">
        <%= render(TaskList::CheckBoxActionComponent.new(task: @task, attribute: :email_signed)) %>
        <%= render(TaskList::CheckBoxActionComponent.new(task: @task, attribute: :receive_signed)) %>
        <%= render(TaskList::CheckBoxActionComponent.new(task: @task, attribute: :save_signed)) %>
      </div>

      <%= form.govuk_submit t("task_list.continue_button.text") if policy(@task_list).update? %>
    <% end %>
  </div>

  <div class="govuk-grid-column-one-third">
    <%= render partial: "conversions/shared/task_notes" %>
  </div>
</div>
