<% content_for :primary_navigation do %>
  <% if policy(:export).service_support? %>
    <%= render partial: "shared/navigation/service_support_primary_navigation" %>
  <% else %>
    <%= render partial: "shared/navigation/all_projects_primary_navigation" %>
  <% end %>
<% end %>

<% content_for :page_title do %>
  <%= page_title(t("export.landing_page.title")) %>
<% end %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h3 class="govuk-heading-l"><%= t("export.landing_page.title") %></h3>
    <p class="govuk-body"><%= t("export.landing_page.body") %></p>
  </div>
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h4 class="govuk-heading-m"><%= t("export.landing_page.conversions.title") %></h4>
    <p class="govuk-body"><%= t("export.landing_page.conversions.body") %></p>
    <ul>
      <li><%= link_to t("export.landing_page.conversions.schools_due_to_convert"), new_all_export_rpa_sug_and_fa_letters_path %></li>
      <li><%= link_to t("export.landing_page.conversions.grant_management"), new_all_export_pre_conversion_grants_path %></li>
    </ul>
  </div>
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h4 class="govuk-heading-m"><%= t("export.landing_page.transfers.title") %></h4>
    <p class="govuk-body"><%= t("export.landing_page.transfers.body") %></p>
    <ul>
      <li><%= link_to t("export.landing_page.transfers.academies_due_to_transfer"), new_all_export_academies_due_to_transfer_path %></li>
      <li><%= link_to t("export.landing_page.transfers.grant_management"), all_export_by_advisory_board_date_transfers_projects_path %></li>
    </ul>
  </div>
</div>
