<div class="project-summary govuk-!-margin-bottom-9">

  <div class="row-container">
    <%= render partial: "projects/index/project_summary_item",
          locals: {label: t("project.summary.incoming_trust.title"), content: project.incoming_trust.name} %>

    <%= render partial: "projects/index/project_summary_item",
          locals: {label: t("project_information.show.school_details.rows.school_type"), content: project.establishment.type} %>
  </div>

  <hr class="govuk-section-break govuk-section-break--s govuk-section-break--visible">

  <div class="row-container">
    <%= render partial: "projects/index/project_summary_item",
          locals: {label: t("project.summary.local_authority.title"), content: project.establishment.local_authority} %>

    <%= render partial: "projects/index/project_summary_item",
          locals: {label: t("conversion_project.summary.route.title"), content: t("conversion_project.#{project.route}.route")} %>

  </div>

  <hr class="govuk-section-break govuk-section-break--s govuk-section-break--visible">

  <% if project.unassigned_to_user? && policy(:assignment).assign_assigned_to? && current_page?("/projects/unassigned") %>
    <%= link_to t("conversion_project.summary.assign"),
          path_to_assigned_to_project_assignment(project),
          class: "govuk-button govuk-button--secondary",
          data: {module: "govuk-button"} %>
  <% end %>

  <% if project.completed? %>
    <%= render partial: "projects/index/project_summary_item",
          locals: {label: t("project.summary.completed_at"), content: project.completed_at.to_formatted_s(:govuk_date_time_date_only)} %>

    <hr class="govuk-section-break govuk-section-break--s govuk-section-break--visible">
  <% end %>
</div>
