<% content_for :primary_navigation do %>
  <%= render partial: "shared/navigation/all_projects_primary_navigation" %>
<% end %>

<% content_for :page_title do %>
  <%= page_title(t("export.by_month.transfers.index.title")) %>
<% end %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h3 class="govuk-heading-l"><%= t("export.by_month.transfers.index.title") %></h3>
    <%= t("export.by_month.transfers.index.body_html") %>
  </div>
</div>

<table class="govuk-table" name="projects_table" aria-label="Conversions by month exports">
  <thead class="govuk-table__head">
  <tr class="govuk-table__row">
    <th class="govuk-table__header" scope="col"><%= t("project.table.headers.date") %></th>
    <th class="govuk-table__header" scope="col"><%= t("project.table.headers.number_of_transfers") %></th>
    <th class="govuk-table__header" scope="col"><%= t("project.table.headers.export") %></th>
  </tr>
  </thead>
  <tbody class="govuk-table__body">
  <% @data.each do |item| %>
    <tr class="govuk-table__row">
      <td class="govuk-table__header govuk-table__cell"><%= item[:month].to_fs(:govuk_month) %></td>
      <td class="govuk-table__cell"><%= t("project.table.body.conversion_project_count_html", count: item[:count], date: item[:month].to_fs(:govuk_month)) %></td>
      <td class="govuk-table__cell">
        <%= link_to(t("project.table.body.export_link"),
              show_all_export_by_significant_date_transfers_academies_due_to_transfer_projects_path(item[:month].month, item[:month].year),
              title: t("project.table.body.export_link_title_transfers", date: item[:month].to_fs(:govuk_month))) %>
      </td>
    </tr>
  <% end %>
  </tbody>
</table>
