<% content_for :primary_navigation do %>
  <%= render partial: "shared/navigation/all_projects_primary_navigation" %>
<% end %>

<% content_for :page_title do %>
  <%= page_title(t("project.single_month.page_title", date: Date.parse(@date).to_fs(:govuk_month))) %>
<% end %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <span class="govuk-caption-l"><%= t("project.single_month.subtitle") %></span>
    <h1 class="govuk-heading-l">
      <%= t("project.single_month.title", date: Date.parse(@date).to_fs(:govuk_month)) %>
    </h1>
    <%= t("project.single_month.body_html") %>

    <nav class="moj-sub-navigation" aria-label="Project index sub-navigation">
      <ul class="moj-sub-navigation__list">
        <%= render partial: "shared/sub_navigation_item",
              locals: {name: t("project.single_month.tabs.conversions"),
                       path: "/projects/all/by-month/conversions/#{@month}/#{@year}"} %>
        <%= render partial: "shared/sub_navigation_item",
              locals: {name: t("project.single_month.tabs.transfers"),
                       path: "/projects/all/by-month/transfers/#{@month}/#{@year}"} %>
      </ul>
    </nav>

    <%= render partial: "by_month_table", locals: {projects: @projects, pager: @pager} %>
  </div>
</div>
