<% content_for :pre_content_nav do %>
  <%= govuk_back_link(href: conversion_project_contacts_path(@project)) %>
<% end %>

<h1 class="govuk-heading-l"><%= t("contact.edit.title") %></h1>

<div class="govuk-grid-row govuk-body">
  <div class="govuk-grid-column-two-thirds">
    <%= form_for [@project, @contact] do |form| %>
      <%= form.govuk_error_summary %>

      <%= form.govuk_collection_select :category,
            Contact.categories.keys,
            :to_s,
            ->(category_name) { format_category_name(category_name) } %>

      <%= form.govuk_text_field :title, width: 20 %>
      <%= form.govuk_text_field :name %>
      <%= form.govuk_email_field :email %>
      <%= form.govuk_phone_field :phone, width: 10 %>

      <%= form.govuk_submit t("contact.edit.save_contact_button") do %>
        <%= govuk_button_link_to "Delete", conversion_project_contact_delete_path(@project, @contact), warning: true %>
        <%= govuk_link_to "Cancel", conversion_project_contacts_path(@project) %>
      <% end %>
    <% end %>
  </div>
</div>
