<% content_for :pre_content_nav do %>
  <% render partial: "shared/back_link", locals: {href: project_contacts_path(@project)} %>
<% end %>

<h1 class="govuk-heading-l"><%= t("contact.new.title") %></h1>

<div class="govuk-grid-row govuk-body">
  <div class="govuk-grid-column-two-thirds">
    <%= form_for [@project, @contact], url: project_contacts_path(@project) do |form| %>
      <%= form.govuk_error_summary %>

      <%= form.govuk_select(:category) do %>
        <option selected="selected" value=""><%= t("contact.categories.choose") %></option>
        <% Contact.categories.each do |name, category| %>
          <option value="<%= name %>"><%= name.humanize %></option>
        <% end %>
      <% end %>

      <%= form.govuk_text_field :title, width: 20 %>
      <%= form.govuk_text_field :name %>
      <%= form.govuk_text_field :organisation_name %>
      <%= form.govuk_email_field :email %>
      <%= form.govuk_phone_field :phone, width: 10 %>

      <%= form.govuk_submit t("contact.new.save_contact_button") do %>
        <%= govuk_link_to "Cancel", project_contacts_path(@project) %>
      <% end %>
    <% end %>
  </div>
</div>
