<% content_for :pre_content_nav do %>
  <%= govuk_back_link(href: project_contacts_path(@project)) %>
<% end %>

<h1 class="govuk-heading-l"><%= t("contact.new.title") %></h1>

<div class="govuk-grid-row govuk-body">
  <div class="govuk-grid-column-two-thirds">
    <%= form_for @contact, url: project_contacts_path, method: :post do |form| %>
      <%= form.govuk_error_summary %>

      <%= form.govuk_collection_select :category,
        Contact.categories.map { |k, v| OpenStruct.new(id: k, name: format_category_name(k)) },
        :id, :name,
        label: { tag: 'h3', size: 'm' } %>

      <%= form.govuk_text_field :name, label: { tag: 'h3', size: 'm' } %>
      <%= form.govuk_text_field :title, label: { tag: 'h3', size: 'm' } %>

      <%= form.govuk_fieldset legend: { text: 'Contact details' } do %>
        <%= form.govuk_email_field :email, label: { tag: 'h4', size: 's' } %>
        <%= form.govuk_phone_field :phone, label: { tag: 'h4', size: 's' } %>
      <% end %>

      <%= form.govuk_submit t("contact.new.save_contact_button") do %>
        <%= govuk_link_to "Cancel", project_contacts_path(@project) %>
      <% end %>
    <% end %>
  </div>
</div>
