<% content_for :pre_content_nav do %>
  <%= govuk_back_link(href: project_path(@project)) %>
<% end %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <%= form_with model: @project do |form| %>

      <%= form.govuk_error_summary %>

      <h1 class="govuk-heading-l"><%= t("project.edit.title") %></h1>

      <p class="govuk-body"><span class="govuk-caption-l">URN <%= @project.urn %></span></p>

      <%= form.govuk_collection_select :delivery_officer_id, @users, :id, :email,
        label: { tag: 'h3', size: 'm' },
        options: { include_blank: true, selected: @project.delivery_officer&.id }
      %>
      <%= form.govuk_submit do %>
        <%= link_to "Cancel", project_path(@project), class: "govuk-link" %>
      <% end %>
    <% end %>

  </div>
</div>
