<% content_for :page_title do %>
  <%= page_title(t("project.index.all.title")) %>
<% end %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">

    <h1 class="govuk-heading-l">
      <%= t("project.index.all.title") %>
    </h1>

    <%= render partial: "projects/shared/new_projects" if policy(:project).new? %>

    <%= render partial: "projects/shared/project_index_sub_navigation" %>

    <%= render partial: "/shared/projects/list", locals: {projects: @projects, pager: @pagy} %>

  </div>
</div>
