<%= render partial: "projects/shared/signed_in_as", locals: {email_address: current_user.email} %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">

    <h1 class="govuk-heading-l">
      <%= t("project.user.completed.title") %>
    </h1>

    <%= render partial: "projects/shared/new_projects" if policy(:project).new? %>

    <%= render partial: "projects/shared/project_index_sub_navigation" %>

    <%= render partial: "/projects/shared/completed_table", locals: {projects: @projects, pager: @pager} %>

  </div>
</div>
