<% if projects.empty? %>
  <%= govuk_inset_text(text: t("project.openers.empty.html", date: date)) %>
<% else %>
  <table class="govuk-table" name="projects_table" aria-label="Projects table">
    <thead class="govuk-table__head">
      <tr class="govuk-table__row">
        <th class="govuk-table__header" scope="col"><%= t("project.openers.table.headers.school") %></th>
        <th class="govuk-table__header" scope="col"><%= t("project.openers.table.headers.urn") %></th>
        <th class="govuk-table__header" scope="col"><%= t("project.openers.table.headers.route") %></th>
        <th class="govuk-table__header" scope="col"><%= t("project.openers.table.headers.all_conditions_met") %></th>
        <th class="govuk-table__header" scope="col"><%= t("project.openers.table.headers.view_project") %></th>
      </tr>
    </thead>
    <tbody class="govuk-table__body">
    <% projects.each do |project| %>
      <tr class="govuk-table__row">
        <td class="govuk-table__header govuk-table__cell"><%= project.establishment.name %></td>
        <td class="govuk-table__cell"><%= project.urn %></td>
        <td class="govuk-table__cell"><%= t("project.openers.route.#{project.route}") %></td>
        <td class="govuk-table__cell"><%= all_conditions_met_value(project) %></td>
       <td class="govuk-table__cell">
         <a href="<%= project_path(project) %>">
           <%= t("project.table.body.view_html", school_name: project.establishment.name) %>
         </a>
       </td>
      </tr>
    <% end %>
    </tbody>
  </table>
<% end %>
