<% content_for :primary_navigation do %>
  <%= render partial: "shared/navigation/all_projects_primary_navigation" %>
<% end %>

<% content_for :page_title do %>
  <%= page_title(t("project.revised_date.title", date: @date)) %>
<% end %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">

    <h1 class="govuk-heading-l">
      <%= t("project.revised_date.title", date: @date) %>
    </h1>
    <p><%= t("project.revised_date.subtitle") %></p>

    <nav class="moj-sub-navigation" aria-label="Project index sub-navigation">
      <ul class="moj-sub-navigation__list">
        <%= render partial: "shared/sub_navigation_item",
              locals: {name: t("subnavigation.openers"),
                       path: confirmed_all_by_month_projects_path} %>
        <%= render partial: "shared/sub_navigation_item",
              locals: {name: t("subnavigation.revised"),
                       path: revised_all_by_month_projects_path} %>
      </ul>
    </nav>

    <%= render partial: "revised_table", locals: {projects: @projects, date: @date} %>
  </div>
</div>
