<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <%= form_for @project_form, url: conversions_update_path(@project), method: :post do |form| %>
      <%= form.govuk_error_summary %>

      <div class="govuk-form-group" id="incoming-trust-ukprn">
        <%= form.govuk_text_field :incoming_trust_ukprn, label: {size: "m"}, width: 10, autocomplete: :off %>
      </div>

      <div class="govuk-form-group" id="advisory-board">
        <%= form.govuk_date_field :advisory_board_date, legend: {text: t("helpers.legend.project.advisory_board_date")}, form_group: {id: "advisory-board-date"}, hint: {text: t("helpers.hint.project.advisory_board_date").html_safe} %>
        <%= form.govuk_text_area :advisory_board_conditions, label: {size: "m", text: t("helpers.label.conversion_project.advisory_board_conditions")} %>
      </div>

      <div class="govuk-form-group" id="sharepoint-folder-links">
        <%= form.govuk_text_field :establishment_sharepoint_link, label: {size: "m", text: t("project.edit.labels.school_sharepoint_link")} %>
        <%= form.govuk_text_field :incoming_trust_sharepoint_link, label: {size: "m", text: t("project.edit.labels.incoming_trust_sharepoint_link")} %>
      </div>

      <div class="govuk-form-group">
        <%= form.govuk_collection_radio_buttons :assigned_to_regional_caseworker_team,
              yes_no_responses,
              :id,
              :name,
              legend: {text: t("helpers.hint.conversion_project.assigned_to_regional_caseworker_team")},
              form_group: {id: "project-assignment"} %>
        <%= form.govuk_text_area :handover_note_body,
              label: {text: t("project.new.handover_comments_label"), size: "m"} %>
      </div>

      <div class="govuk-form-group">
        <%= form.govuk_collection_radio_buttons :directive_academy_order,
              directive_academy_order_responses,
              :id,
              :name,
              legend: {text: t("helpers.legend.conversion_project.directive_academy_order")},
              form_group: {id: "directive-academy-order"} %>
      </div>

      <div class="govuk-form-group">
        <%= form.govuk_collection_radio_buttons :two_requires_improvement,
              yes_no_responses,
              :id,
              :name,
              legend: {text: t("helpers.legend.conversion_project.two_requires_improvement")},
              hint: {text: t("helpers.hint.conversion_project.two_requires_improvement")},
              form_group: {id: "two-requires-improvement"} %>
      </div>

      <%= form.govuk_submit do %>
        <%= govuk_link_to "Cancel", project_information_path(@project) %>
      <% end %>
    <% end %>
  </div>
</div>
