<% content_for :pre_content_nav do %>
  <% render partial: "shared/back_link", locals: {href: root_path} %>
<% end %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <%= form_with model: @project, url: conversions_path do |form| %>
      <%= form.govuk_error_summary %>

      <h1 class="govuk-heading-l"><%= t("conversion_project.voluntary.new.title") %></h1>
      <%= t("conversion_project.voluntary.new.hint_html") %>

      <%= form.govuk_text_field :urn, label: {size: "m", text: t("helpers.label.conversion_project.urn")}, hint: {text: t("helpers.hint.project.urn").html_safe}, width: 10 %>
      <%= form.govuk_text_field :incoming_trust_ukprn, label: {size: "m", text: t("helpers.label.conversion_project.incoming_trust_ukprn")}, hint: {text: t("helpers.hint.project.incoming_trust_ukprn").html_safe}, width: 10 %>
      <%= form.govuk_date_field :advisory_board_date, legend: {text: t("helpers.legend.project.advisory_board_date")}, form_group: {id: "advisory-board-date"}, hint: {text: t("helpers.hint.project.advisory_board_date").html_safe} %>
      <%= form.govuk_text_area :advisory_board_conditions, label: {size: "m", text: t("helpers.label.conversion_project.advisory_board_conditions")} %>
      <%= form.govuk_date_field :provisional_conversion_date, legend: {text: t("helpers.legend.conversion_project.provisional_conversion_date")}, omit_day: true, form_group: {id: "provisional-conversion-date"}, hint: {text: t("helpers.hint.conversion_project.provisional_conversion_date")} %>
      <%= form.govuk_text_field :establishment_sharepoint_link, label: {size: "m", text: t("helpers.label.conversion_project.establishment_sharepoint_link")} %>
      <%= form.govuk_text_field :trust_sharepoint_link, label: {size: "m", text: t("helpers.label.conversion_project.trust_sharepoint_link")} %>
      <%= form.govuk_text_area :handover_note_body,
            label: {text: t("project.new.handover_comments_label"), size: "m"},
            hint: {text: t("project.new.handover_comments_hint").html_safe} %>
      <%= form.govuk_collection_radio_buttons :assigned_to_regional_caseworker_team, @project.assigned_to_regional_caseworker_team_responses, :id, :name, legend: {text: t("helpers.hint.conversion_project.assigned_to_regional_caseworker_team")}, form_group: {id: "assigned-to-regional-caseworker-team"} %>
      <%= form.govuk_collection_radio_buttons :directive_academy_order,
            @project.directive_academy_order_responses,
            :id,
            :name,
            legend: {text: t("helpers.legend.conversion_project.directive_academy_order")},
            hint: {text: t("helpers.hint.conversion_project.directive_academy_order")},
            form_group: {id: "directive-academy-order"} %>

      <%= form.govuk_submit %>
    <% end %>
  </div>
</div>
