<div id="projectDetails">
  <h2 class="govuk-heading-l"><%= t('project_information.show.project_details.title') %></h2>
  <%= govuk_summary_list do |summary_list|
    summary_list.row do |row|
      row.key { t('project_information.show.project_details.rows.directive_academy_order.title') }
      row.value { t("project_information.show.project_details.rows.directive_academy_order.#{@project.directive_academy_order}") }
    end
  end %>
</div>

<div id="advisoryBoardDetails">
  <h2 class="govuk-heading-l"><%= t('project_information.show.advisory_board_details.title') %></h2>
  <%= govuk_summary_list do |summary_list|
    summary_list.row do |row|
      row.key { t('project_information.show.advisory_board_details.rows.advisory_board_date') }
      row.value { @project.advisory_board_date.to_date.to_formatted_s(:govuk) }
    end
    summary_list.row do |row|
      row.key { t('project_information.show.advisory_board_details.rows.advisory_board_conditions') }
      row.value { simple_format(@project.advisory_board_conditions, class: "govuk-body") }
    end
  end %>
  </div>

<div id="schoolDetails">
  <h2 class="govuk-heading-l"><%= t('project_information.show.school_details.title') %></h2>
  <%= govuk_summary_list(actions: false) do |summary_list|
    summary_list.row do |row|
      row.key { t('project_information.show.school_details.rows.original_school_name') }
      row.value { (@project.establishment.name + "<br/>" + link_to_school_on_gias(@project.urn)).html_safe }
    end
    summary_list.row do |row|
      row.key { t('project_information.show.school_details.rows.address') }
      row.value { address_markup(@project.establishment.address) }
    end
    summary_list.row do |row|
      row.key { t('project_information.show.school_details.rows.old_urn') }
      row.value { @project.urn.to_s }
    end
    summary_list.row do |row|
      row.key { t('project_information.show.school_details.rows.school_type') }
      row.value { @project.establishment.type }
    end
    summary_list.row do |row|
      row.key { t('project_information.show.school_details.rows.age_range') }
      row.value { age_range(@project.establishment) }
    end
    summary_list.row do |row|
      row.key { t('project_information.show.school_details.rows.school_phase') }
      row.value { @project.establishment.phase }
    end
    summary_list.row do |row|
      row.key { t('project_information.show.school_details.rows.region') }
      row.value { @project.establishment.region_name }
    end
  end %>
</div>

<%= render partial: "project_information/show/academy_details" %>

<div id="trustDetails">
  <h2 class="govuk-heading-l"><%= t('project_information.show.trust_details.title') %></h2>
  <%= govuk_summary_list(actions: false) do |summary_list|
    summary_list.row do |row|
      row.key { t('project_information.show.trust_details.rows.incoming_trust_name') }
      row.value { (@project.incoming_trust.name + "<br/>" + link_to_trust_on_gias(@project.incoming_trust_ukprn)).html_safe }
    end
    summary_list.row do |row|
      row.key { t('project_information.show.trust_details.rows.address') }
      row.value { address_markup(@project.incoming_trust.address) }
    end
    summary_list.row do |row|
      row.key { t('project_information.show.trust_details.rows.ukprn') }
      row.value { @project.incoming_trust_ukprn.to_s }
    end
    summary_list.row do |row|
      row.key { t('project_information.show.trust_details.rows.group_identifier') }
      row.value { @project.incoming_trust.group_identifier.to_s }
    end
    summary_list.row do |row|
      row.key { t('project_information.show.trust_details.rows.companies_house_number') }
      row.value {
        (@project.incoming_trust.companies_house_number +
         "<br/>" +
         link_to_companies_house(@project.incoming_trust.companies_house_number)).html_safe if @project.incoming_trust.companies_house_number.present?
      }
    end
  end %>
</div>

<div id="localAuthorityDetails">
  <h2 class="govuk-heading-l"><%= t('project_information.show.local_authority_details.title') %></h2>
  <%= govuk_summary_list(actions: false) do |summary_list|
    summary_list.row do |row|
      row.key { t('project_information.show.local_authority_details.rows.local_authority') }
      row.value { @project.establishment.local_authority_name }
    end
    if @project.establishment.local_authority
      summary_list.row do |row|
        row.key { t('project_information.show.local_authority_details.rows.address') }
        row.value { address_markup(@project.establishment.local_authority.address) }
      end
    end
  end %>
</div>

<div id="dioceseDetails">
  <h2 class="govuk-heading-l"><%= t('project_information.show.diocese_details.title') %></h2>
  <%= govuk_summary_list(actions: false) do |summary_list|
    summary_list.row do |row|
      row.key { t('project_information.show.diocese_details.rows.diocese') }
      row.value { @project.establishment.diocese_name }
    end
  end %>
</div>
