<h2 class="govuk-heading-l" id="projectDetails"><%= t('project_information.show.project_details.title') %></h2>
<%= govuk_summary_list(actions: false) do |summary_list|
  summary_list.row do |row|
    row.key { t('project_information.show.project_details.rows.caseworker') }
    row.value { @project.caseworker&.email or t('project.summary.caseworker.unassigned') }
  end
  summary_list.row do |row|
    row.key { t('project_information.show.project_details.rows.team_lead') }
    row.value { @project.team_leader.email }
  end
  summary_list.row do |row|
    row.key { t('project_information.show.project_details.rows.regional_delivery_officer') }
    row.value { @project.regional_delivery_officer.email }
  end
end %>

<h2 class="govuk-heading-l" id="schoolDetails"><%= t('project_information.show.school_details.title') %></h2>
<%= govuk_summary_list(actions: false) do |summary_list|
  summary_list.row do |row|
    row.key { t('project_information.show.school_details.rows.original_school_name') }
    row.value { @project.establishment.name }
  end
  summary_list.row do |row|
    row.key { t('project_information.show.school_details.rows.old_urn') }
    row.value { @project.urn.to_s }
  end
  summary_list.row do |row|
    row.key { t('project_information.show.school_details.rows.school_type') }
    row.value { @project.establishment.type }
  end
  summary_list.row do |row|
    row.key { t('project_information.show.school_details.rows.age_range') }
    row.value { age_range(@project.establishment) }
  end
  summary_list.row do |row|
    row.key { t('project_information.show.school_details.rows.school_phase') }
    row.value { @project.establishment.phase }
  end
end %>

<h2 class="govuk-heading-l" id="trustDetails"><%= t('project_information.show.trust_details.title') %></h2>
<%= govuk_summary_list(actions: false) do |summary_list|
  summary_list.row do |row|
    row.key { t('project_information.show.trust_details.rows.incoming_trust_name') }
    row.value { @project.trust.name }
  end
  summary_list.row do |row|
    row.key { t('project_information.show.trust_details.rows.ukprn') }
    row.value { @project.trust_ukprn.to_s }
  end
  summary_list.row do |row|
    row.key { t('project_information.show.trust_details.rows.companies_house_number') }
    row.value { @project.trust.companies_house_number }
  end
end %>

<h2 class="govuk-heading-l" id="localAuthorityDetails"><%= t('project_information.show.local_authority_details.title') %></h2>
<%= govuk_summary_list(actions: false) do |summary_list|
  summary_list.row do |row|
    row.key { t('project_information.show.local_authority_details.rows.local_authority') }
    row.value { @project.establishment.local_authority }
  end
end %>
