<div id="projectDetails">
  <h2 class="govuk-heading-l"><%= t('project_information.show.project_details.title') %></h2>
  <%= govuk_summary_list do |summary_list|
    summary_list.row do |row|
      row.key { t('project_information.show.project_details.rows.advisory_board_date') }
      row.value { @project.advisory_board_date.to_date.to_formatted_s(:govuk) }
    end
    summary_list.row do |row|
      row.key { t('project_information.show.project_details.rows.advisory_board_conditions') }
      row.value { simple_format(@project.advisory_board_conditions, class: "govuk-body") }
    end
    summary_list.row do |row|
      row.key { t('project_information.show.project_details.rows.establishment_sharepoint_link') }
      row.value { safe_link_to(t("project.summary.establishment_sharepoint_link.value"), @project.establishment_sharepoint_link) }
    end
    summary_list.row do |row|
      row.key { t('project_information.show.project_details.rows.trust_sharepoint_link') }
      row.value { safe_link_to(t("project.summary.trust_sharepoint_link.value"), @project.trust_sharepoint_link) }
    end
  end %>
</div>

<div id="schoolDetails">
  <h2 class="govuk-heading-l"><%= t('project_information.show.school_details.title') %></h2>
  <%= govuk_summary_list(actions: false) do |summary_list|
    summary_list.row do |row|
      row.key { t('project_information.show.school_details.rows.original_school_name') }
      row.value { (@project.establishment.name + "<br/>" + link_to_school_on_gias(@project.urn)).html_safe }
    end
    summary_list.row do |row|
      row.key { t('project_information.show.school_details.rows.old_urn') }
      row.value { @project.urn.to_s }
    end
    summary_list.row do |row|
      row.key { t('project_information.show.school_details.rows.school_type') }
      row.value { @project.establishment.type }
    end
    summary_list.row do |row|
      row.key { t('project_information.show.school_details.rows.age_range') }
      row.value { age_range(@project.establishment) }
    end
    summary_list.row do |row|
      row.key { t('project_information.show.school_details.rows.school_phase') }
      row.value { @project.establishment.phase }
    end
    summary_list.row do |row|
      row.key { t('project_information.show.school_details.rows.region') }
      row.value { @project.establishment.region_name }
    end
  end %>
</div>

<div id="trustDetails">
  <h2 class="govuk-heading-l"><%= t('project_information.show.trust_details.title') %></h2>
  <%= govuk_summary_list(actions: false) do |summary_list|
    summary_list.row do |row|
      row.key { t('project_information.show.trust_details.rows.incoming_trust_name') }
      row.value { (@project.incoming_trust.name + "<br/>" + link_to_trust_on_gias(@project.incoming_trust_ukprn)).html_safe }
    end
    summary_list.row do |row|
      row.key { t('project_information.show.trust_details.rows.ukprn') }
      row.value { @project.incoming_trust_ukprn.to_s }
    end
    summary_list.row do |row|
      row.key { t('project_information.show.trust_details.rows.companies_house_number') }
      row.value { @project.incoming_trust.companies_house_number } end
  end %>
</div>

<div id="localAuthorityDetails">
  <h2 class="govuk-heading-l"><%= t('project_information.show.local_authority_details.title') %></h2>
  <%= govuk_summary_list(actions: false) do |summary_list|
    summary_list.row do |row|
      row.key { t('project_information.show.local_authority_details.rows.local_authority') }
      row.value { @project.establishment.local_authority }
    end
  end %>
</div>

<div id="dioceseDetails">
  <h2 class="govuk-heading-l"><%= t('project_information.show.diocese_details.title') %></h2>
  <%= govuk_summary_list(actions: false) do |summary_list|
    summary_list.row do |row|
      row.key { t('project_information.show.diocese_details.rows.diocese') }
      row.value { @project.establishment.diocese_name }
    end
  end %>
</div>
