<div id="projectDetails">
  <h2 class="govuk-heading-l"><%= t('project_information.show.project_details.title') %></h2>
  <%= govuk_summary_list do |summary_list|
    summary_list.row do |row|
      row.key { t('project_information.show.project_details.rows.caseworker') }
      row.value { display_name(@project.caseworker) }
      if @project.caseworker.present?
        row.action(text: "Email", href: mail_to_path(@project.caseworker.email), visually_hidden_text: "caseworker")
      end
      if policy(:assignment).assign_caseworker?
        row.action(href: project_assign_caseworker_path(@project), visually_hidden_text: "caseworker")
      end
    end
    summary_list.row do |row|
      row.key { t('project_information.show.project_details.rows.team_lead') }
      row.value { display_name(@project.team_leader) }
      if @project.team_leader.present?
        row.action(text: "Email", href: mail_to_path(@project.team_leader.email), visually_hidden_text: "team leader")
      end
      if policy(:assignment).assign_team_leader?
        row.action(href: project_assign_team_lead_path(@project), visually_hidden_text: "team leader")
      end
    end
    summary_list.row do |row|
      row.key { t('project_information.show.project_details.rows.regional_delivery_officer') }
      row.value { display_name(@project.regional_delivery_officer) }
      if @project.regional_delivery_officer.present?
        row.action(text: "Email", href: mail_to_path(@project.regional_delivery_officer.email), visually_hidden_text: "regional delivery officer")
      end
      if policy(:assignment).assign_regional_delivery_officer?
        row.action(href: project_assign_regional_delivery_officer_path(@project), visually_hidden_text: "regional delivery officer")
      end
    end
    summary_list.row do |row|
      row.key { t('project_information.show.project_details.rows.advisory_board_date') }
      row.value { @project.advisory_board_date }
    end
    summary_list.row do |row|
      row.key { t('project_information.show.project_details.rows.establishment_sharepoint_link') }
      row.value { safe_link_to(@project.establishment_sharepoint_link, @project.establishment_sharepoint_link) }
    end
    summary_list.row do |row|
      row.key { t('project_information.show.project_details.rows.advisory_board_conditions') }
      row.value { simple_format(@project.advisory_board_conditions, class: "govuk-body") }
    end
  end %>
</div>

<div id="schoolDetails">
  <h2 class="govuk-heading-l"><%= t('project_information.show.school_details.title') %></h2>
  <%= govuk_summary_list(actions: false) do |summary_list|
    summary_list.row do |row|
      row.key { t('project_information.show.school_details.rows.original_school_name') }
      row.value { @project.establishment.name }
    end
    summary_list.row do |row|
      row.key { t('project_information.show.school_details.rows.old_urn') }
      row.value { @project.urn.to_s }
    end
    summary_list.row do |row|
      row.key { t('project_information.show.school_details.rows.school_type') }
      row.value { @project.establishment.type }
    end
    summary_list.row do |row|
      row.key { t('project_information.show.school_details.rows.age_range') }
      row.value { age_range(@project.establishment) }
    end
    summary_list.row do |row|
      row.key { t('project_information.show.school_details.rows.school_phase') }
      row.value { @project.establishment.phase }
    end
    summary_list.row do |row|
      row.key { t('project_information.show.school_details.rows.region') }
      row.value { @project.establishment.region_name }
    end
  end %>
</div>

<div id="trustDetails">
  <h2 class="govuk-heading-l"><%= t('project_information.show.trust_details.title') %></h2>
  <%= govuk_summary_list(actions: false) do |summary_list|
    summary_list.row do |row|
      row.key { t('project_information.show.trust_details.rows.incoming_trust_name') }
      row.value { @project.incoming_trust.name }
    end
    summary_list.row do |row|
      row.key { t('project_information.show.trust_details.rows.ukprn') }
      row.value { @project.incoming_trust_ukprn.to_s }
    end
    summary_list.row do |row|
      row.key { t('project_information.show.trust_details.rows.companies_house_number') }
      row.value { @project.incoming_trust.companies_house_number } end
  end %>
</div>

<div id="localAuthorityDetails">
  <h2 class="govuk-heading-l"><%= t('project_information.show.local_authority_details.title') %></h2>
  <%= govuk_summary_list(actions: false) do |summary_list|
    summary_list.row do |row|
      row.key { t('project_information.show.local_authority_details.rows.local_authority') }
      row.value { @project.establishment.local_authority }
    end
  end %>
</div>

<div id="dioceseDetails">
  <h2 class="govuk-heading-l"><%= t('project_information.show.diocese_details.title') %></h2>
  <%= govuk_summary_list(actions: false) do |summary_list|
    summary_list.row do |row|
      row.key { t('project_information.show.diocese_details.rows.diocese') }
      row.value { @project.establishment.diocese_name }
    end
  end %>
</div>
