<div class="govuk-grid-row govuk-!-margin-bottom-9">
  <div class="govuk-grid-column-two-thirds">
    <span class="govuk-caption-l"><%= @project.establishment.name %></span>
    <h1 class="govuk-heading-xl govuk-!-margin-bottom-2"><%= t("conversion.task.main_contact.title") %></h1>

    <% if @project.contacts.count > 0 %>
      <div class="app-task-hint">
        <%= t("conversion.task.main_contact.choose_a_contact.hint.html", add_contact_link: project_contacts_path(@project)) %>
      </div>
    <% else %>
      <div class="app-task-hint">
        <%= t("conversion.task.main_contact.no_contacts.hint.html", add_contact_link: project_contacts_path(@project)) %>
      </div>
    <% end %>

  </div>
</div>

<% content_for :pre_content_nav do %>
  <% render partial: "conversions/tasks/shared/back_link", locals: {project_id: @project.id} %>
<% end %>

<% content_for :page_title do %>
  <%= page_title(t("conversion.task.main_contact.title")) %>
<% end %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <% if @project.all_contacts.count > 0 %>
      <%= form_for @task, url: project_edit_task_path(@project, @task.identifier), method: :put do |form| %>
        <%= form.govuk_error_summary %>

        <%= form.govuk_collection_radio_buttons :main_contact_id,
              @project.all_contacts,
              :id,
              :name,
              :title,
              legend: {text: t("conversion.task.main_contact.choose_a_contact.title"), size: "l"},
              form_group: {id: "main-contact-choose-a-contact"} %>

        <%= form.govuk_submit t("task_list.continue_button.text") if policy(@tasks_data).update? %>
      <% end %>
    <% else %>
      <h2 class="govuk-heading-l"><%= t("conversion.task.main_contact.no_contacts.title") %></h2>
      <%= t("conversion.task.main_contact.no_contacts.add_contacts_guidance_html", add_contact_link: project_contacts_path(@project)) %>
      <%= govuk_button_link_to t("task_list.continue_button.text"), project_tasks_path(@project) %>
    <% end %>
  </div>

  <div class="govuk-grid-column-one-third">
    <%= render partial: "shared/tasks/task_notes" %>
  </div>
</div>
