<%= render partial: "shared/project_summary" %>

<%= render partial: "shared/projects/sub_navigation" %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h2 class="govuk-heading-l"><%= t("contact.index.external_contacts") %></h2>

    <div class="govuk-!-margin-bottom-5">
      <p class="govuk-hint">
        <%= t("contact.index.external_contacts_hint.add_contacts") %>
      </p>
      <p class="govuk-hint">
        <%= t("contact.index.external_contacts_hint.get_missing_contact_information") %>
      </p>
    </div>

    <div class="govuk-!-margin-bottom-5">
      <%= govuk_button_link_to t("contact.index.add_contact_button"), new_project_contact_path(@project) %>
    </div>

    <% if @grouped_contacts.empty? %>
      <%= govuk_inset_text(text: t("contact.index.no_contacts_yet")) %>
    <% else %>

      <% Contact.categories.keys.each do |category| %>
        <% if @grouped_contacts[category].present? %>
          <%= render partial: "contact_group", locals: {category: category, contacts: @grouped_contacts[category]} %>
        <% end %>
      <% end %>

    <% end %>

    <%= render partial: "external_contacts/member_of_parliament", locals: { member_of_parliament: @project.member_of_parliament } %>
  </div>
</div>
