<% content_for :pre_content_nav do %>
  <% render partial: "shared/back_link", locals: {href: root_path} %>
<% end %>

<%= render partial: "projects/shared/project_summary" %>

<%= render partial: "shared/projects/actions" %>

<%= render partial: "shared/projects/sub_navigation" %>

<div class="govuk-grid-row govuk-body">
  <div class="govuk-grid-column-two-thirds">
    <h2 class="govuk-heading-l"><%= t("contact.index.external_contacts") %></h2>

    <div class="govuk-!-margin-bottom-5">
      <p class="govuk-hint">
        <%= t("contact.index.external_contacts_hint.add_contacts") %>
      </p>
      <p class="govuk-hint">
        <%= t("contact.index.external_contacts_hint.get_missing_contact_information") %>
      </p>
    </div>

    <% if @grouped_contacts.empty? %>
      <%= govuk_inset_text(text: t("contact.index.no_contacts_yet")) %>
    <% end %>

    <div class="govuk-!-margin-bottom-5">
      <%= govuk_button_link_to t("contact.index.add_contact_button"), new_project_contact_path(@project) %>
    </div>

    <% Contact.categories.keys.each do |category| %>
      <% if @grouped_contacts[category].present? %>
        <%= render partial: "contact_group", locals: {category: category, contacts: @grouped_contacts[category]} %>
      <% end %>
    <% end %>

  </div>
</div>
