<li>
  <span class="govuk-caption-m">URN <%= project.urn %></span>
  <h3 class="govuk-heading-m govuk-heading-m--school-name">
    <%= link_to project.establishment.name, project_path(project), class: "govuk-link govuk-link--no-visited-state" %>
  </h3>
  <dl class="govuk-summary-list">
    <div class="govuk-summary-list__row">
      <dt class="govuk-summary-list__key">
        <%= t("conversion_project.summary_card.type") %>
      </dt>
      <dd class="govuk-summary-list__value">
        <%= t("conversion_project.type") %>
      </dd>
    </div>
    <div class="govuk-summary-list__row">
      <dt class="govuk-summary-list__key">
        <%= t("conversion_project.summary_card.incoming_trust") %>
      </dt>
      <dd class="govuk-summary-list__value">
        <%= project.incoming_trust.name %>
      </dd>
    </div>
    <div class="govuk-summary-list__row">
      <dt class="govuk-summary-list__key">
        <%= t("conversion_project.summary_card.conversion_date") %>
      </dt>
      <dd class="govuk-summary-list__value">
        <%= significant_date(project) %>
      </dd>
    </div>
    <div class="govuk-summary-list__row">
      <dt class="govuk-summary-list__key">
        <%= t("conversion_project.summary_card.all_conditions_met.title") %>
      </dt>
      <dd class="govuk-summary-list__value">
        <%= t("conversion_project.summary_card.all_conditions_met.#{project.all_conditions_met?}") %>
      </dd>
    </div>
    <% if @current_user.regional_casework_services_team? %>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          <%= t("conversion_project.summary_card.region") %>
        </dt>
        <dd class="govuk-summary-list__value">
          <%= project.establishment.region_name %>
        </dd>
      </div>
    <% end %>
  </dl>
</li>
