<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <span class="govuk-caption-l">URN <%= @project.urn %></span>
    <h1 class="govuk-heading-l"><%= @project.establishment.name %></h1>

    <%= project_notification_banner(@project, current_user) %>
  </div>
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-three-quarters">
    <%= govuk_summary_list(actions: false, html_attributes: {id: "project-summary"}) do |summary_list|
          summary_list.row do |row|
            row.key { t("project.summary.type.title") }
            row.value { t("project.summary.type.transfer") }
          end
          summary_list.row do |row|
            row.key { t("project.summary.transfer_date.title") }
            row.value { significant_date(@project) }
          end
          summary_list.row do |row|
            row.key { t("project.summary.incoming_trust.title") }
            row.value { @project.incoming_trust.name }
          end
          summary_list.row do |row|
            row.key { t("project.summary.region.title") }
            row.value { @project.establishment.region_name }
          end
          if @project.completed?
            summary_list.row do |row|
              row.key { t("project.summary.completed_at") }
              row.value { @project.completed_at.to_formatted_s(:govuk_date_time_date_only) }
            end
          end
        end %>

  </div>
</div>

<%= render partial: "/shared/projects/actions" %>
