<% content_for :page_title do %>
  <%= page_title(@project.establishment.name) %>
<% end %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <span class="govuk-caption-l">
      <%= t("project.summary.heading.transfer", urn: @project.urn) %>
      <%= govuk_tag(text: t("project.summary.type.transfer"), colour: "purple") %>
    </span>
    <h1 class="govuk-heading-xl"><%= @project.establishment.name %></h1>
  </div>
</div>

<%= project_notification_banner(@project, current_user) %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-three-quarters">
    <%= govuk_summary_list(actions: false, html_attributes: {id: "project-summary"}) do |summary_list|
          summary_list.row do |row|
            row.key { t("project.summary.transfer_date.title") }
            row.value { significant_date(@project) }
          end
          summary_list.row do |row|
            row.key { t("project.summary.outgoing_trust.title") }
            row.value { @project.outgoing_trust.name }
          end
          summary_list.row do |row|
            row.key { t("project.summary.incoming_trust.title") }
            row.value { @project.incoming_trust.name }
          end
          summary_list.row do |row|
            row.key { t("project.summary.la_and_region.title") }
            row.value { "#{@project.establishment.local_authority_name}, #{@project.establishment.region_name}" }
          end
          summary_list.row do |row|
            row.key { t("project.summary.sharepoint_link.title") }
            row.value { safe_link_to(t("project.summary.academy_sharepoint_link.title"), @project.establishment_sharepoint_link) }
          end
          if @project.completed?
            summary_list.row do |row|
              row.key { t("project.summary.completed_at") }
              row.value { @project.completed_at.to_formatted_s(:govuk_date_time_date_only) }
            end
          end
        end %>

  </div>
</div>

<%= render partial: "/shared/projects/actions" %>
