<% content_for :pre_content_nav do %>
  <% render partial: "shared/back_link", locals: {href: root_path} %>
<% end %>

<%= render partial: "projects/shared/project_summary" %>

<%= render partial: "projects/shared/project_actions" %>

<%= render partial: "projects/shared/project_sub_navigation" %>

<div id="projectMemberOfParliament">
  <h2 class="govuk-heading-l"><%= t("member_of_parliament.show.title") %></h2>
  <%= govuk_summary_list do |summary_list|
        summary_list.row do |row|
          row.key { t("member_of_parliament.show.rows.full_title") }
          row.value { @member_name.object.name_full_title }
        end
        summary_list.row do |row|
          row.key { t("member_of_parliament.show.rows.email") }
          row.value { mail_to(@member_email, @member_email) }
        end
        if @parliamentary_office
          summary_list.row do |row|
            row.key { @parliamentary_office.type }
            row.value { address_markup(@parliamentary_office.address) }
          end
        end
      end %>
</div>
