<% content_for :pre_content_nav do %>
  <% render partial: "shared/back_link", locals: {href: root_path} %>
<% end %>

<%= render partial: "conversions/shared/project_summary" %>

<%= render partial: "shared/projects/sub_navigation" %>

<h2 class="govuk-heading-l"><%= t("member_of_parliament.show.title") %></h2>

<% if @member.present? %>
<div id="projectMemberOfParliament">
  <%= govuk_summary_list do |summary_list|
        summary_list.with_row do |row|
          row.with_key { t("member_of_parliament.show.rows.full_title") }
          row.with_value { @member.name }
        end
        summary_list.with_row do |row|
          row.with_key { t("member_of_parliament.show.rows.email") }
          row.with_value { mail_to(@member.email, @member.email) }
        end
        summary_list.with_row do |row|
          row.with_key { t("member_of_parliament.show.rows.address") }
          row.with_value { address_markup(@member.address) }
        end
      end %>
<% else %>
  <%= govuk_inset_text(text: "MP Could not be found on the DfE Persons API for constituency '#{@project.establishment.parliamentary_constituency}'.") %>
<% end %>
</div>
