<% content_for :pre_content_nav do %>
  <% render partial: "shared/back_link", locals: {href: root_path} %>
<% end %>

<%= render partial: "projects/shared/project_summary" %>

<%= render partial: "projects/shared/project_actions" %>

<%= render partial: "shared/projects/sub_navigation" %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-one-quarter">
    <%= render partial: "side_navigation" %>
  </div>

  <div class="govuk-grid-column-three-quarters" id="projectInformationList">
    <%= render partial: "information_list" %>
  </div>
</div>
