<% content_for :pre_content_nav do %>
  <% render partial: "shared/back_link", locals: {href: project_contacts_path(@project)} %>
<% end %>

<% content_for :page_title do %>
  <%= page_title(t("contact.new.title")) %>
<% end %>

<div class="govuk-grid-row govuk-body">
  <div class="govuk-grid-column-full">
    <span class="govuk-caption-l"><%= t("helpers.label.new_contact_form.subtitle") %></span>
    <h1 class="govuk-heading-l"><%= t("helpers.label.new_contact_form.enter_contact_details") %></h1>

    <div class="app-task-hint">
      <p><%= t("helpers.hint.new_contact_form.chair_of_governors.hint") %></p>
    </div>

    <%= govuk_details(summary_text: t("helpers.hint.new_contact_form.chair_of_governors.guidance_link")) do %>
      <%= t("helpers.hint.new_contact_form.chair_of_governors.guidance") %>
    <% end %>
  </div>
</div>

<div class="govuk-grid-row govuk-body">
  <div class="govuk-grid-column-full">
    <%= form_for @contact, url: project_external_contacts_chair_of_governors_path(@project, @contact), method: :post do |form| %>
      <%= form.govuk_error_summary %>

      <%= form.govuk_text_field :name, label: {text: t("helpers.label.new_contact_form.name"), size: "m"} %>
      <%= form.govuk_email_field :email, hint: {text: t("helpers.hint.new_contact_form.email")}, label: {text: t("helpers.label.new_contact_form.email"), size: "m"} %>
      <%= form.govuk_phone_field :phone, width: 10, label: {text: t("helpers.label.new_contact_form.phone"), size: "m"} %>

      <%= form.govuk_collection_radio_buttons :primary_contact_for_category,
            @contact.yes_no_responses,
            ->(option) { option.id },
            ->(option) { option.name },
            legend: {text: t("helpers.label.new_contact_form.primary_contact_for_category"), size: "m"},
            hint: {text: t("helpers.hint.new_contact_form.primary_contact_for_category")},
            form_group: {id: "primary-contact-for-category"} %>

      <%= form.govuk_submit "Save and continue" do %>
        <%= govuk_link_to "Cancel", project_contacts_path(@project) %>
      <% end %>
    <% end %>
  </div>
</div>
