<%= render(TaskList::TaskHeaderComponent.new(project: @project, task: @task)) %>

<% content_for :pre_content_nav do %>
  <% render partial: "conversions/tasks/shared/back_link", locals: {project_id: @project.id} %>
<% end %>

<% content_for :page_title do %>
  <%= page_title(t("conversion.task.articles_of_association.title")) %>
<% end %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <%= form_for @task, url: project_edit_task_path(@project, @task.class.identifier), method: :put do |form| %>
      <%= form.govuk_error_summary %>

      <div class="govuk-form-group">
        <%= render(TaskList::CheckBoxActionComponent.new(task: @task, attribute: :not_applicable)) %>
      </div>

      <div class="govuk-form-group">
        <h2 class="govuk-heading-l"><%= t("conversion.task.articles_of_association.clear_section.title") %></h2>
        <div class="app-task-section__hint">
          <%= t("conversion.task.articles_of_association.clear_section.hint.html") %>
        </div>

        <%= govuk_details(
              summary_text: t("conversion.task.articles_of_association.clear_section.guidance_link"),
              text: t("conversion.task.articles_of_association.clear_section.guidance.html")
            ) %>

        <%= render(TaskList::CheckBoxActionComponent.new(task: @task, attribute: :received)) %>
        <%= render(TaskList::CheckBoxActionComponent.new(task: @task, attribute: :cleared)) %>
        <%= render(TaskList::CheckBoxActionComponent.new(task: @task, attribute: :sent)) %>
        <%= render(TaskList::CheckBoxActionComponent.new(task: @task, attribute: :signed)) %>
        <%= render(TaskList::CheckBoxActionComponent.new(task: @task, attribute: :saved)) %>
      </div>

      <%= form.govuk_submit t("task_list.continue_button.text") if policy(@tasks_data).update? %>
    <% end %>
  </div>

  <div class="govuk-grid-column-one-third">
    <%= render partial: "shared/tasks/task_notes" %>
  </div>
</div>
