<% content_for :primary_navigation do %>
  <%= render partial: "shared/navigation/all_projects_primary_navigation" %>
<% end %>

<% content_for :page_title do %>
  <%= page_title(t("export.grant_management_and_finance_unit.conversions.show.title", date: @month.to_fs(:govuk_month))) %>
<% end %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <%= govuk_back_link(href: all_export_grant_management_and_finance_unit_conversions_projects_path) %>
    <h1 class="govuk-heading-l"><%= t("export.grant_management_and_finance_unit.conversions.show.title", date: @month.to_fs(:govuk_month)) %></h1>
    <%= t("export.grant_management_and_finance_unit.conversions.show.body_html") %>
    <div class="govuk-form-group">
      <%= govuk_button_link_to t("export.grant_management_and_finance_unit.conversions.show.button"), "/projects/all/export/grant-management-and-finance-unit/conversions/#{@month.month}/#{@month.year}/csv" %>
    </div>
  </div>
</div>
