<%= render(TaskList::TaskHeaderComponent.new(project: @project, task: @task)) %>

<% content_for :pre_content_nav do %>
  <% render partial: "shared/back_link", locals: {href: project_tasks_path(@project)} %>
<% end %>

<% content_for :page_title do %>
  <%= page_title(t("transfer.task.commercial_transfer_agreement.title")) %>
<% end %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <%= form_for @task, url: project_edit_task_path(@project, @task.class.identifier), method: :put do |form| %>
      <%= form.govuk_error_summary %>

      <div class="govuk-form-group">
        <%= render(TaskList::CheckBoxActionComponent.new(task: @task, attribute: :confirm_agreed)) %>
        <%= render(TaskList::CheckBoxActionComponent.new(task: @task, attribute: :confirm_signed)) %>
        <%= render(TaskList::CheckBoxActionComponent.new(task: @task, attribute: :questions_received)) %>
        <%= render(TaskList::CheckBoxActionComponent.new(task: @task, attribute: :questions_checked)) %>
        <%= render(TaskList::CheckBoxActionComponent.new(task: @task, attribute: :save_confirmation_emails)) %>
      </div>

      <%= form.govuk_submit t("task_list.continue_button.text") if policy(@tasks_data).update? %>
    <% end %>
  </div>

  <div class="govuk-grid-column-one-third">
    <%= render partial: "shared/tasks/task_notes" %>
  </div>
</div>
