<% if trusts.empty? %>
  <%= govuk_inset_text(text: t("project.table.by_trust.empty")) %>
<% else %>
  <table class="govuk-table" name="projects_table" aria-label="Projects table">
    <caption class="govuk-table__caption govuk-!-display-none"><%= t("project.table.by_trust.caption") %></caption>
    <thead class="govuk-table__head">
      <tr class="govuk-table__row">
        <th class="govuk-table__header" scope="col"><%= t("project.table.headers.trust_name") %></th>
        <th class="govuk-table__header" scope="col"><%= t("project.table.headers.group_identifier") %></th>
        <th class="govuk-table__header" scope="col"><%= t("project.table.headers.conversion_count") %></th>
        <th class="govuk-table__header" scope="col"><%= t("project.table.headers.transfer_count") %></th>
      </tr>
    </thead>
    <tbody class="govuk-table__body">
    <% trusts.each do |trust| %>
      <tr class="govuk-table__row">
        <td class="govuk-table__header govuk-table__cell">
          <% if trust.ukprn.present? %>
            <%= link_to trust.name, by_trust_ukprn_all_trusts_projects_path(trust.ukprn), class: "govuk-link govuk-link--no-visited-state" %>
          <% else %>
            <%= link_to trust.name, by_trust_reference_all_trusts_projects_path(trust.group_id), class: "govuk-link govuk-link--no-visited-state" %>
          <% end %>
        </td>
        <td class="govuk-table__cell"><%= trust.group_id %></td>
        <td class="govuk-table__cell"><%= trust.conversion_count %></td>
        <td class="govuk-table__cell"><%= trust.transfer_count %></td>
      </tr>
    <% end %>
    </tbody>
  </table>
<% end %>

<%= govuk_pagination(pagy: pager) %>
