<% content_for :page_title do %>
  <%= page_title(t("dao_revocations.date.title")) %>
<% end %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <%= form_for @step_form, url: project_dao_revocation_update_change_step_path(@project, :date), method: :patch do |form| %>

      <%= form.govuk_error_summary %>

      <%= form.govuk_date_field :date_of_decision, legend: {size: "xl"}, caption: {size: "xl"} %>

      <%= form.govuk_submit t("dao_revocations.date.button") %>

    <% end %>

  </div>
</div>
