<% content_for :page_title do %>
  <%= page_title(t("dao_revocations.reasons.title")) %>
<% end %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <%= form_for @step_form, url: project_dao_revocation_update_change_step_path(@project, :reasons), method: :patch do |form| %>

      <%= form.govuk_error_summary %>

      <%= form.govuk_check_boxes_fieldset :reasons, multiple: false, legend: {size: "xl"}, caption: {size: "xl"} do %>
        <%= form.govuk_check_box :reason_school_rating_improved,
              1,
              0,
              multiple: false,
              label: {text: t("helpers.label.dao_revocation_stepped_form.reason_school_rating_improved")} do %>
              <%= form.govuk_text_area :reason_school_rating_improved_note %>

        <% end %>

        <%= form.govuk_check_box :reason_safeguarding_addressed,
              1,
              0,
              multiple: false,
              label: {text: t("helpers.label.dao_revocation_stepped_form.reason_safeguarding_addressed")} do %>
              <%= form.govuk_text_area :reason_safeguarding_addressed_note %>
            <% end %>

        <%= form.govuk_check_box :reason_school_closed,
              1,
              0,
              multiple: false,
              label: {text: t("helpers.label.dao_revocation_stepped_form.reason_school_closed")} do %>
              <%= form.govuk_text_area :reason_school_closed_note %>
        <% end %>

      <% end %>

      <div class="govuk-button-group">
        <%= form.govuk_submit t("dao_revocations.reasons.button") %>
        <%= govuk_link_to t("cancel"), project_dao_revocation_check_path(@project) %>
      </div>

    <% end %>

  </div>
</div>
