<%= render(TaskList::TaskHeaderComponent.new(project: @project, task: @task)) %>

<% content_for :pre_content_nav do %>
  <% render partial: "shared/back_link", locals: {href: project_tasks_path(@project)} %>
<% end %>

<% content_for :page_title do %>
  <%= page_title(t("transfer.task.declaration_of_expenditure_certificate.title")) %>
<% end %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <%= form_for @task, url: project_edit_task_path(@project, @task.class.identifier), method: :put do |form| %>
      <%= form.govuk_error_summary %>

      <div class="govuk-form-group">
        <%= render(TaskList::CheckBoxActionComponent.new(task: @task, attribute: :not_applicable)) %>
      </div>

       <%= form.govuk_date_field :date_received,
             legend: {text: t("transfer.task.declaration_of_expenditure_certificate.date_received.title")},
             hint: {text: t("transfer.task.declaration_of_expenditure_certificate.date_received.hint.html")} %>

      <div class="govuk-form-group">
        <%= render(TaskList::CheckBoxActionComponent.new(task: @task, attribute: :correct)) %>
      </div>

      <div class="govuk-form-group">
        <%= render(TaskList::CheckBoxActionComponent.new(task: @task, attribute: :saved)) %>
      </div>

      <%= form.govuk_submit t("task_list.continue_button.text") if policy(@tasks_data).update? %>
    <% end %>
  </div>

  <div class="govuk-grid-column-one-third">
    <%= render partial: "shared/tasks/task_notes" %>
  </div>
</div>
