<% content_for :primary_navigation do %>
  <%= render partial: "shared/navigation/service_support_primary_navigation" %>
<% end %>

<% content_for :page_title do %>
  <%= page_title(t("service_support.import.gias_establishments.page_title")) %>
<% end %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-l"><%= t("service_support.import.gias_establishments.page_title") %></h1>

    <%= form_with model: @upload_form, url: service_support_upload_gias_establishments_upload_path do |form| %>
      <%= form.govuk_error_summary %>

      <div class="govuk-form-group">
        <%= form.govuk_file_field :uploaded_file,
              label: {text: I18n.t("service_support.import.gias_establishments.upload_form.label")},
              hint: {text: I18n.t("service_support.import.gias_establishments.upload_form.hint")} %>
      </div>

      <%= form.govuk_submit %>
    <% end %>
  </div>
</div>
