<!DOCTYPE html>
<html lang="en" class="govuk-template ">
  <head>
    <meta charset="utf-8">
    <title><%= content_for?(:page_title) ? yield(:page_title) : t("service_name") %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="theme-color" content="#0b0c0c">

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <link rel="shortcut icon" sizes="16x16 32x32 48x48" href="<%= asset_url("govuk-frontend/govuk/assets/images/favicon.ico") %>" type="image/x-icon">
    <link rel="mask-icon" href="<%= image_url("govuk-frontend/govuk/assets/images/govuk-mask-icon.svg") %>" color="#0b0c0c">
    <link rel="apple-touch-icon" sizes="180x180" href="<%= image_url("govuk-frontend/govuk/assets/images/govuk-apple-touch-icon-180x180.png") %>">
    <link rel="apple-touch-icon" sizes="167x167" href="<%= image_url("govuk-frontend/govuk/assets/images/govuk-apple-touch-icon-167x167.png") %>">
    <link rel="apple-touch-icon" sizes="152x152" href="<%= image_url("govuk-frontend/govuk/assets/images/govuk-apple-touch-icon-152x152.png") %>">
    <link rel="apple-touch-icon" href="<%= image_url("govuk-frontend/govuk/assets/images/govuk-apple-touch-icon.png") %>">

    <meta property="og:image" content="<%= image_url("govuk-frontend/govuk/assets/images/govuk-opengraph-image.png") %>">

    <%= stylesheet_link_tag "application" %>
    <%= javascript_include_tag "govuk-frontend/govuk/all" %>
    <%= javascript_include_tag "dfefrontend" %>
    <%= javascript_include_tag "application", defer: true %>

    <%= render partial: "shared/google_tag_manager" if enable_google_tag_manager? %>
    <%= render partial: "shared/application_insights" if enable_application_insights? %>
  </head>

  <body class="govuk-template__body ">
    <script nonce="<%= content_security_policy_nonce %>">
      document.body.className = ((document.body.className) ? document.body.className + ' js-enabled' : 'js-enabled');
    </script>

    <%= render partial: "shared/environment_banner" %>

    <%= render partial: "cookies/banner" unless optional_cookies_set? %>

    <a href="#main-content" class="govuk-skip-link">Skip to main content</a>

    <%= render partial: "shared/dfe_header" %>

    <div class="govuk-width-container " aria-label="phase banner" role="complementary">
      <%= govuk_phase_banner(
            tag: {text: t("phase_banner.phase")},
            text: t("phase_banner.phase_notice.html")
          ) %>
    </div>

    <%= yield :primary_navigation %>

    <div class="govuk-width-container ">
      <%= yield :pre_content_nav %>
      <main class="govuk-main-wrapper app-content" id="main-content" role="main">
        <%= render partial: "/shared/information_banner" if ENV["SHOW_INFORMATION_BANNER"].eql?("true") %>
        <%= render(NotificationBanner.new(flashes: flash)) %>

        <%= yield %>
      </main>
    </div>

    <%= render partial: "shared/dfe_footer" %>
  </body>
  <%= yield :footer_post_js %>
</html>
